[leads]
[localePicker]
== 
<!DOCTYPE html>
<html lang="{{ lang }}">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<link rel="canonical" href="index.html">
		</link>
		<title>{{ this.page.title }} | ZS BMS PRO</title>
		<link rel="icon" type="image/png" href="{{ 'assets/img/home/favicon.ico'|theme }}">
		<link rel="stylesheet" href="{{ 'assets/css/vendors/swiper.min.css'|theme }}">
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="stylesheet" href="{{ 'assets/css/styles.css'|theme }}?v=1.0.2">
	</head>

	<body>

		{% partial 'header' %}

		<main class="{{ mainClass }}">
			{% page %}
		</main>

		{% partial 'menu' %}

		{% partial 'modal' %}

		{% partial 'footer' %}

		<div class="backdrop__bar d-none"></div>
		
		{% partial 'scripts' %}

		{% framework extras %}
		
		{% scripts %}
	</body>

</html>