<section class="content-company-form">
	<div class="content-company-form-itens container">
		<h2>{{ 'Para mais informações'|contenttext('FOOTER', true) }}</h2>
		<form class="content-company-form-element" data-aos="zoom-in" data-aos-delay="200"
			method="post"
			data-request="onSave"
			data-request-validate
			data-request-flash 
			data-request-redirect="/">
			<div class="content-company-form-element-inputs">
				<input type="text" value="" placeholder="Nome" name="name" required/>
				<div data-validate-for="name" class="alert alert-danger"></div>

				<input type="text" value="" placeholder="Empresa" name="company" required/>
				<div data-validate-for="company" class="alert alert-danger"></div>

				<div class="content-company-form-element-inputs-div">
					<input type="email" value="" placeholder="E-mail" name="email" required/>					
					<input type="tel" value="" placeholder="Telefone" name="phone" required/>					
				</div>
				<div data-validate-for="email" class="alert alert-danger"></div>
				<div data-validate-for="phone" class="alert alert-danger"></div>
				<div data-validate-for="message" class="alert alert-danger"></div>
				<textarea name="message"></textarea>				
			</div>
			<button type="submit" class="content-company-form-element-btn">{{ 'Enviar'|contenttext('INPUTS', true) }}</button>
		</form>
	</div>
</section>

<footer class="content-footer">
	<div class="content-footer-itens">
		<div class="content-footer-itens-div">
			<div class="content-footer-itens-links container">
				<a class="content-footer-itens-links-logo" href="{{ 'home'|page }}">
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-zs-bms-white.png'|theme }}" alt="Logo Zs Bms Pro" title="Logo Zs Bms Pro"/>
				</a>
				<div class="content-footer-itens-links-text">
					<p>
						{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tortor dapibus, scelerisque nisl nec, dictum
						enim. Phasellus nec metus non dui egestas mattis.'|contenttext('FOOTER', true) }}
					</p>
				</div>
				<div class="content-footer-itens-links-menu">
					<div class="content-footer-itens-links-menu-item">
						<a href="{{ 'home'|page}}#linkFuncionalidade" class="btn-funcionality">
							{{ 'Funcionalidades'|contenttext('LINKS', true) }}
						</a>
						<a href="{{ 'restauracao'|page }}">
							{{ 'Restauração'|contenttext('LINKS', true) }}
						</a>
						<a href="{{ 'hotelaria'|page }}">
							{{ 'Hotelaria'|contenttext('LINKS', true) }}
						</a>
					</div>
					<div class="content-footer-itens-links-menu-item">
						<a href="{{ 'retalho'|page }}">
							{{ 'Retalho'|contenttext('LINKS', true) }}
						</a>
						<a href="#modal-contact" data-toggle="modal">
							{{ 'Contatos'|contenttext('LINKS', true) }}
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="content-footer-itens-div">
			<div class="content-footer-itens-company container">
				<div class="content-footer-itens-text">
					<p> {{ 'O nosso grupo'|contenttext('FOOTER', true) }}</p>
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-wethecore.png'|theme }}" alt="Logo Wethecore" title="Logo Wethecore"/>
				</div>
				<div class="content-footer-itens-text">
					<p> {{ 'Empresas do grupo'|contenttext('FOOTER', true) }}</p>
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-zone-soft.png'|theme }}" alt="Logo Zone Soft" title="Logo Zone Soft"/>
				</div>
				<div class="content-footer-itens-logos">
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-must.png'|theme }}" alt="Logo Must Pt" title="Logo Must Pt"/>
				</div>
				<div class="content-footer-itens-logos">
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-levoo.png'|theme }}" alt="Logo Levoo" title="Logo Levoo"/>
				</div>
				<div class="content-footer-itens-logos">
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-comproo.png'|theme }}" alt="Logo Comproo" title="Logo Comproo"/>
				</div>
				<div class="content-footer-itens-logos">
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-freebee.png'|theme }}" alt="Logo FreeBee" title="Logo FreeBee"/>
				</div>
			</div>
		</div>
		<div class="content-footer-itens-div">
			<div class="content-footer-itens-copyright container">
				<a class="content-footer-itens-copyright-text" href="{{ 'home'|page }}">
					@ ZS bms PRO, 2020
				</a>
				<div class="content-footer-itens-copyright-links">
					<a href="#modal-termos" data-toggle="modal">
						Termos & Condições
					</a>
					<a href="#modal-polity" data-toggle="modal">
						Política Privacidade
					</a>
					<a href="#modal-rgpd" data-toggle="modal">
						RGPD
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>