<aside class="aside-menu d-lg-none">
	<div class="aside-menu-itens">
		<div class="aside-menu-itens-header">
			<a class="d-block" href="{{ 'home'|page }}">
				<img class="img-fluid" src="{{ 'assets/img/logos/logo-zs-bms.png'|theme }}" alt="Logo Zs Bms Pro" title="Logo Zs Bms Pro" />
			</a>
			<div class="content-menu">
				<a class="content-menu-item btn-menu">
					<span></span>
					<p>Menu</p>
				</a>
			</div>
		</div>
		<div class="aside-menu-itens-links">
			<a href="{{ 'home'|page }}#linkFuncionalidade" class="btn-funcionality">
				{{ 'Funcionalidades'|contenttext('LINKS', true) }}
			</a>
			<a class="{% if this.page.id == 'restauracao' %} link-active {% endif %}" href="{{ 'restauracao'|page }}">
				{{ 'Restauração'|contenttext('LINKS', true) }}
			</a>
			<a class="{% if this.page.id == 'hotelaria' %} link-active {% endif %}" href="{{ 'hotelaria'|page }}">
				{{ 'Hotelaria'|contenttext('LINKS', true) }}
			</a>
			<a class="{% if this.page.id == 'retalho' %} link-active {% endif %}" href="{{ 'retalho'|page }}">
				{{ 'Retalho'|contenttext('LINKS', true) }}
			</a>
			<a href="#modal-contact" data-toggle="modal">
				{{ 'Contatos'|contenttext('LINKS', true) }}
			</a>
		</div>
		
		<div id="accordion-menu">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
							aria-controls="collapseOne">							
							{{ localePicker.activeLocale|upper }}
							<div>
								<svg width="30" height="30" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="angle-down" role="img"
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
									<path 
										d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z"
										class=""></path>
								</svg>
							</div>
						</button>
					</h5>
				</div>
				<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-menu">
					<div class="card-body">						
						{% for code, locale in localePicker.locales %}
							{% if code is not same as  (localePicker.activeLocale) %}
								<a id="lang-{{ code }}" class="card-body-links" href="javascript:;"
									data-request="onSwitchLocale" data-request-data="locale: '{{ code }}'">
									{{ locale }} ({{ code|upper }})
								</a>
							{% endif %}
						{% endfor %}    
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>