<!-- POLICY MODAL -->
<div class="modal modal-newsletter fade in" tabindex="-1" role="dialog" id="modal-polity">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal__title modal__title--big" id="iframe-modal-newsletter-modal-Label">{{ 'Politica e Privacidade'|contenttext('POLICY', true) }}</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="modal__body">
					{{ '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed the eiusmod tempor incidid ut labore et dolore
						magna aliqua. Ou seja, por um preço mínimo, por isso, é necessário exercitar-se por qualquer outro meio, por
						exemplo. velit esse cillum dolore eu fugi nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					<p>"Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tot rem
						remiam, eaque ipsa quae ab illo inventor veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						consequentes magnos dolares eos quao racionamentos sequencias nescos.queque porro quisquam est, qui dolorem
						ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt u
						labore et dolore magnam aliquam quaerat voluptatem. , quis nostrum exercitationem ullam corporis suscipit
						laboriosam, você está usando um líquido alíquido e consequentemente? Este é um item que deve ser repreendido
						em um voluptate velit esse quam nihil molestiae consequatur,vel ilum qui dolorem eum fugiat quo voluptas
						nulla pariatur? "</p>'|contenttext('POLICY', false ) }}
				</div>
				<div class="modal-body-btns">
					<!-- <button class="modal-body-btns-confirm" data-dismiss="modal">
						Aceitar <span class="d-none d-md-flex ml-2">Politica</span>
					</button> -->
					<button type="submit" class="content-company-form-element-btn" data-dismiss="modal">{{ 'Sair'|contenttext('INPUTS', true) }}</button>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<!-- TERMS MODAL -->
<div class="modal modal-newsletter fade in" tabindex="-1" role="dialog" id="modal-termos">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal__title modal__title--big" id="iframe-modal-newsletter-modal-Label">{{ 'Termos e Condições'|contenttext('TERMS', true) }}</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="modal__body">
					{{ '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed the eiusmod tempor incidid ut labore et dolore
						magna aliqua. Ou seja, por um preço mínimo, por isso, é necessário exercitar-se por qualquer outro meio, por
						exemplo. velit esse cillum dolore eu fugi nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					<p>"Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tot rem
						remiam, eaque ipsa quae ab illo inventor veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						consequentes magnos dolares eos quao racionamentos sequencias nescos.queque porro quisquam est, qui dolorem
						ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt u
						labore et dolore magnam aliquam quaerat voluptatem. , quis nostrum exercitationem ullam corporis suscipit
						laboriosam, você está usando um líquido alíquido e consequentemente? Este é um item que deve ser repreendido
						em um voluptate velit esse quam nihil molestiae consequatur,vel ilum qui dolorem eum fugiat quo voluptas
						ulla pariatur? "</p>'|contenttext('TERMS', false) }}
				</div>
				<div class="modal-body-btns">
					<!-- <button class="modal-body-btns-confirm" data-dismiss="modal">
						Aceitar <span class="d-none d-md-flex ml-2">Termos</span>
					</button> -->
					<button type="submit" class="content-company-form-element-btn" data-dismiss="modal">{{ 'Sair'|contenttext('INPUTS', true) }}</button>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<!-- RGPD MODAL -->
<div class="modal modal-newsletter fade in" tabindex="-1" role="dialog" id="modal-rgpd">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal__title modal__title--big" id="iframe-modal-newsletter-modal-Label">{{ 'RGPD'|contenttext('RGPD', true) }}</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="modal__body">
					{{ '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed the eiusmod tempor incidid ut labore et dolore
						magna aliqua. Ou seja, por um preço mínimo, por isso, é necessário exercitar-se por qualquer outro meio, por
						exemplo. velit esse cillum dolore eu fugi nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					<p>"Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tot rem
						remiam, eaque ipsa quae ab illo inventor veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						consequentes magnos dolares eos quao racionamentos sequencias nescos.queque porro quisquam est, qui dolorem
						ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt u
						labore et dolore magnam aliquam quaerat voluptatem. , quis nostrum exercitationem ullam corporis suscipit
						laboriosam, você está usando um líquido alíquido e consequentemente? Este é um item que deve ser repreendido
						em um voluptate velit esse quam nihil molestiae consequatur,vel ilum qui dolorem eum fugiat quo voluptas
						nulla pariatur? "</p>'|contenttext('RGPD', false) }}
				</div>
				<div class="modal-body-btns">
					<button type="submit" class="content-company-form-element-btn" data-dismiss="modal">{{ 'Sair'|contenttext('INPUTS', true) }}</button>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<!-- CONTACT MODAL -->
<div class="modal modal-contact fade in" tabindex="-1" role="dialog" id="modal-contact">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">{{ 'Contactos'|contenttext('CONTACTS', true) }}</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="modal-body-itens">
					<div class="modal-body-itens-elements">
						<div class="modal-body-itens-elements-header">
							<p>{{ 'Moradas'|contenttext('CONTACTS', true) }}</p>
						</div>
						<div class="modal-body-itens-elements-text">
							<h2>{{ 'ENTRONCAMENTO'|contenttext('CONTACTS', true) }}</h2>
							{{ '<p>Estrada Nacional 3 </p>
							<p>Zona Industrial Lote I-21</p>
							<p> 2330-210 Entroncamento, Santarém</p>'|contenttext('CONTACTS', false) }}
						</div>
						<div class="modal-body-itens-elements-text">
							<h2>{{ 'LISBOA'|contenttext('CONTACTS', true) }}</h2>
							{{ '<p>Praça Nuno Rodrigues dos Santos, 7 </p>
							<p>Centro de Escritórios das Laranjeiras</p>
							<p>1600-171 Lisboa</p>'|contenttext('CONTACTS', false) }}
						</div>
						<div class="modal-body-itens-elements-text">
							<h2>{{ 'PORTO'|contenttext('CONTACTS', true) }}</h2>
							{{ '<p>Centro Empresarial do Porto </p>
							<p>Rua Engº Ferreira Dias, 161</p>
							<p>4100-247 Porto</p>'|contenttext('CONTACTS', false) }}
						</div>
					</div>
					
					<div class="modal-body-itens-div">
						<div class="modal-body-itens-elements">
							<div class="modal-body-itens-elements-header">
								<p>{{ 'Telefones'|contenttext('CONTACTS', true) }}</p>
							</div>
							<div class="modal-body-itens-elements-text">
								{{ '<p>Estrada Nacional 3 </p>
								<p>Zona Industrial Lote I-21</p>
								<p> 2330-210 Entroncamento, Santarém</p>'|contenttext('CONTACTS', false) }}
							</div>
						</div>
						<div class="modal-body-itens-elements">
							<div class="modal-body-itens-elements-header">
								<p>{{ 'Email'|contenttext('CONTACTS', true) }}</p>
							</div>
							<div class="modal-body-itens-elements-text">
								{{ '<p>Comercial: comercial@zonesoft.org </p>
								<p>Helpdesk: suporte@zonesoft.org</p>
								<p>Geral: geral@zonesoft.org</p>'|contenttext('CONTACTS', false) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal modal-contact modal-default fade in" tabindex="-1" role="dialog" id="modal-app-picking">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">App Picking</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<p>Disponibilize aos seus funcionários o controlo de todas as operações e informações em tempo real, na ponta
					dos dedos.
					Desde inventários e abastecimento até à consulta de stocks e impressão de etiquetas, faça o trabalho onde ele
					acontece.
					O ZSbms PRO possui um poderoso recurso que oferece aos seus funcionários uma APP em tempo real e fácil de
					usar, tornando as suas operações e controlo mais fáceis e rápidas do que nunca.
					A nossa APP é uma Progressive Web APP (PWA), o que significa que pode ser usada em qualquer dispositivo
					(computador, tablet, smartphone ou PDA), sem a necessidade de instalação.
					Está sempre ligada à cloud ZSbms PRO, em tempo real, permitindo funcionar offline, transmitindo
					automaticamente todas as informações quando a comunicação é restabelecida.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-contact modal-default fade in" tabindex="-1" role="dialog" id="modal-loyalty-app">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Loyalty App</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<p>Disponibilize aos seus funcionários o controlo de todas as operações e informações em tempo real, na ponta
					dos dedos.
					Desde inventários e abastecimento até à consulta de stocks e impressão de etiquetas, faça o trabalho onde ele
					acontece.
					O ZSbms PRO possui um poderoso recurso que oferece aos seus funcionários uma APP em tempo real e fácil de
					usar, tornando as suas operações e controlo mais fáceis e rápidas do que nunca.
					A nossa APP é uma Progressive Web APP (PWA), o que significa que pode ser usada em qualquer dispositivo
					(computador, tablet, smartphone ou PDA), sem a necessidade de instalação.
					Está sempre ligada à cloud ZSbms PRO, em tempo real, permitindo funcionar offline, transmitindo
					automaticamente todas as informações quando a comunicação é restabelecida.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-contact modal-default fade in" tabindex="-1" role="dialog" id="modal-budget-planing">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Orçamentação e Planeamento</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<p>Defina os objetivos de vendas e controle o desempenho e o crescimento diário das suas lojas.
					Tire mais rentabilidade dos seus funcionários! Defina os objetivos de vendas diárias por loja ou uma meta de
					percentagem de crescimento. O módulo de orçamentos do ZSbms PRO informa-o em tempo real quanto resta para
					atingir a meta!
					A partir de análises históricas e acompanhamento gráfico do orçamento, verifique facilmente quais as lojas,
					grupos ou insígnias que estão à frente da meta. Da análise diária individual ou de todas as lojas, à
					comparação dos valores mensais e anuais com uma exibição de calendário, poderá acompanhar qual é o seu
					desempenho atual, ao comparar com períodos de referência do ano anterior, acumulado do ano, mês, semana ou até
					mesmo o dia da semana do ano.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-contact modal-default fade in" tabindex="-1" role="dialog" id="modal-financing">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Financeiro e Integração ERP</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<p>As faturas dos fornecedores estão lançadas corretamente?
					Está a pagar por produtos que nunca foram entregues ou acima do preço?
					Controle os pagamentos e conheça os créditos que precisa de obter dos seus fornecedores.
					Assuma o controlo das suas entregas e pagamentos de faturas! O módulo financeiro compara todas as faturas com as entregas correspondentes e marca cada produto que foi entregue em quantidades diferentes ou preço de custo diferente do que foi estabelecido com o fornecedor.
					Mantenha o histórico dos documentos que não estão de acordo e avalie as entregas do fornecedor. Solicite os valores de crédito de cada diferença e recupere o seu dinheiro!
					O módulo financeiro do ZSbms PRO fecha todo o fluxo da cadeia de abastecimento, iniciado numa encomenda, passando pelo processo de entrega e terminando na comparação de faturas para verificar se estão de acordo. Integre todas as faturas e créditos finais no seu sistema ERP ou em qualquer outro software de contabilidade externa.					
				</p>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-contact modal-default fade in" tabindex="-1" role="dialog" id="modal-haccp">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Controlo HACCP</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<p>Garanta 100% de qualidade e segurança em todas as suas lojas.
					Desde equipamentos de medição de temperatura até às datas de validade e rastreabilidade.
					O ZSbms PRO oferece suporte ao seu plano HACCP (Hazard Analysis and Critical Control Point. Um requisito legal para todos os negócios e produtores de alimentos. Com o nosso controlo HACCP, garanta altos padrões de segurança e higiene alimentar em todas as suas lojas.
					Tenha os seus dispositivos com leitura automática de temperatura (em tempo real) ou manual e receba os alertas se estiverem além dos limites aceitáveis.
					Defina os dias de vencimento dos seus produtos de compra quando abertos, ou os dias de vencimento dos seus produtos de produção e imprima as suas etiquetas, enquanto controla a rastreabilidade de cada produto.					
				</p>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-contact modal-default fade in" tabindex="-1" role="dialog" id="modal-plans">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">RH Plano de Horários</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<p>Horários e definição de escalas dos funcionários na cloud.
					Defina o calendário e horários de trabalho diários, semanais e mensais dos seus funcionários. Configure facilmente os turnos numa interface de calendário intuitiva e cruze a informação entre os vários recursos disponíveis. Escalável para qualquer tamanho, crie transversalmente as escalas pelas várias lojas.
					Compare os turnos com as vendas por hora na mesma plataforma e torne as suas lojas mais lucrativas e eficientes.				
				</p>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-contact modal-default fade in" tabindex="-1" role="dialog" id="modal-documents">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Gestão Documental</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<p>Evolua para um ambiente sem papel!
					Repositório digital de documentos com leitura automática de OCR.
					Digitalize e faça upload dos seus documentos, desde faturas de compras a contratos de funcionários.
					Digitalize e faça upload direto de documentos em papel para a Cloud ZSbms PRO e tenha um repositório digital para toda a documentação das suas lojas.
					Não tem tempo para lançar a compra na entrega? Basta digitalizar e fazer upload do documento do fornecedor, lançando-o mais tarde. Ainda tem que esperar que os documentos das lojas sejam enviados para o seu escritório? Digitalize-os com upload automático para o ZSbms PRO.
					Aproveite o nosso mecanismo de reconhecimento óptico de caracteres (OCR) e tenha as suas entregas validadas e preenchidas automaticamente após  digitalização.
					Faça o upload dos contratos dos seus funcionários ou qualquer outro ficheiro, como o cartão de cidadão.				
				</p>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-contact modal-default fade in" tabindex="-1" role="dialog" id="modal-impression">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Impressão Etiquetas</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<p>Configure qualquer tipo de etiqueta!
					Etiquetas do tipo A4 ou rolo, com preços ou de produção, configure qualquer etiqueta com vários elementos e formatos.
					Criou novos produtos ou definiu novos preços no ZSbms PRO? Imprima rapidamente as novas etiquetas e informações adicionais em todas as suas lojas. Recebeu novas entregas ou fez uma nova produção? Imprima as quantidades corretas diretamente do documento de entrega ou produção.
					Configure etiquetas para se adaptar a qualquer impressora. Selecione a partir de modelos pré-existentes, defina tamanhos, margens, limites e imprima-os nos formatos A4, A5 e rolo. 
					Inclua informação desde o código e nome do produto, família e preços, datas de expiração, imagens, lotes, códigos de barras (em vários formatos), ingredientes, tabelas nutricionais e até texto livre em qualquer tamanho e cor.				
				</p>
			</div>
		</div>
	</div>
</div>