<!-- build:js ../assets/js/main.min.js -->
	<script src="{{ 'assets/js/jquery.min.js'|theme }}"></script>
	<script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
	<script src="{{ 'assets/js/swiper.min.js'|theme }}"></script>
	<script src="{{ 'assets/js/aos.js'|theme }}"></script>
  <script src="{{ 'assets/js/main.js'|theme }}"></script>
<!-- endbuild -->
