mainClass = "home"
metaDescription = ""
canonical = "index.html"
title = "Home Page"
layout = 'layout'
url = '/'
==

<section class="content-banner" data-aos="fade-down" data-aos-delay="200">
	<div class="content-banner-bg" style="background: url({{ 'assets/img/home/bg-home.jpg'|theme }}) center no-repeat;">
	</div>
	<div class="content-banner-writer">
		<h1>{{ 'O futuro da gestão do Canal HoReCa, hoje!'|contenttext('HOME', true) }}</h1>
		<a class="content-banner-writer-link">
			{{ 'saber mais'|contenttext('HOME', true) }}
		</a>
	</div>
</section>

<section class="content-home">
	<div class="content-home-itens container">
		<div class="content-home-itens-elements" data-aos="fade-up" data-aos-delay="200">
			<div class="content-home-itens-elements-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="92.29" height="97.82" viewBox="0 0 92.29 97.82">
					<path
						d="M31.395,71.038a2.354,2.354,0,0,1-2.136,1.38,2.321,2.321,0,0,1-.994-.224L17.819,67.254a2.4,2.4,0,0,1-1.139-3.175,2.341,2.341,0,0,1,3.13-1.155l10.445,4.939A2.4,2.4,0,0,1,31.395,71.038ZM26.349,28.022h.459V44.988a2.356,2.356,0,1,0,4.711,0V28.022H55A13.931,13.931,0,0,0,68.819,14.011a2.356,2.356,0,1,0-4.711,0A9.18,9.18,0,0,1,55,23.245H26.349a9.234,9.234,0,0,1,0-18.467H39.615a13.84,13.84,0,0,0-3.391,9.092,2.356,2.356,0,1,0,4.711,0,9.109,9.109,0,0,1,9.105-9.092H83.655a9.234,9.234,0,0,1,0,18.467H72.193a2.389,2.389,0,0,0,0,4.778h6.291V44.988a2.356,2.356,0,1,0,4.711,0V28.022h.459A13.931,13.931,0,0,0,97.472,14.011,13.931,13.931,0,0,0,83.655,0H26.349A13.931,13.931,0,0,0,12.532,14.011,13.931,13.931,0,0,0,26.349,28.022ZM92.465,61.336a2.343,2.343,0,0,0-3.106,1.223,3.23,3.23,0,0,1-1.551,1.725L82.044,67.01a3.159,3.159,0,0,1-2.279.1,2.352,2.352,0,0,0-2.912,1.641,2.394,2.394,0,0,0,1.618,2.953,8.5,8.5,0,0,0,2.365.345,7.436,7.436,0,0,0,3.2-.712L89.8,68.614a7.941,7.941,0,0,0,3.871-4.129,2.4,2.4,0,0,0-1.206-3.149Zm-59.43.484L22.589,56.88a2.341,2.341,0,0,0-3.13,1.155A2.4,2.4,0,0,0,20.6,61.21l10.445,4.939a2.318,2.318,0,0,0,.994.224,2.354,2.354,0,0,0,2.136-1.38,2.4,2.4,0,0,0-1.139-3.175ZM100.4,67.482a12.242,12.242,0,0,1-6.308,7l-8.4,3.971a11.977,11.977,0,0,1-9.34.4,12.172,12.172,0,0,1-5.7-4.329l-9.269,4.383,30.367,14.36A2.4,2.4,0,0,1,92.9,96.44a2.354,2.354,0,0,1-2.136,1.38,2.321,2.321,0,0,1-.994-.224L55.815,81.542,22,97.532a2.341,2.341,0,0,1-3.13-1.155A2.4,2.4,0,0,1,20.008,93.2l30.233-14.3-9.134-4.319a12.171,12.171,0,0,1-5.7,4.329,11.981,11.981,0,0,1-9.34-.4l-13.24-6.261A7.025,7.025,0,0,1,9.5,62.984l4.516-9.82a6.867,6.867,0,0,1,3.883-3.6,6.743,6.743,0,0,1,5.257.228L36.4,56.052a12.242,12.242,0,0,1,6.308,7,12.49,12.49,0,0,1,.393,7.209L55.814,76.27l12.852-6.077a12.468,12.468,0,0,1,6.7-14.206l8.4-3.971A12.163,12.163,0,0,1,100,58.01a12.463,12.463,0,0,1,.4,9.472Zm-62.123-2.8a7.519,7.519,0,0,0-3.871-4.3l-13.24-6.261a2.121,2.121,0,0,0-1.654-.068,2.161,2.161,0,0,0-1.224,1.131L13.772,65a2.212,2.212,0,0,0,1.048,2.919l13.24,6.261a7.361,7.361,0,0,0,5.738.243A7.493,7.493,0,0,0,38.038,70.5a7.657,7.657,0,0,0,.24-5.818Zm57.456-4.653a7.473,7.473,0,0,0-9.979-3.683l-8.4,3.971a7.668,7.668,0,0,0-3.77,9.8,4.883,4.883,0,0,1,.291.632,7.488,7.488,0,0,0,4.089,3.613,7.358,7.358,0,0,0,5.737-.243l8.4-3.971a7.52,7.52,0,0,0,3.872-4.3,7.657,7.657,0,0,0-.24-5.818Z"
						transform="translate(-8.858)" /></svg>
			</div>
			<div class="content-home-itens-elements-text">
				<h2>{{ 'Restauração'|contenttext('HOME', true) }}</h2>
				{{ '<p>A mais completa ferramenta para gestão do seu restaurante. O ingrediente que faltava para baixar o seu foodcost.</p>'|contenttext('HOME', false) }}
				<a href="{{ 'restauracao'|page }}">
					{{ 'saber mais'|contenttext('HOME', true) }}
				</a>
			</div>
		</div>
		<div class="content-home-itens-elements" data-aos="fade-up" data-aos-delay="500">
			<div class="content-home-itens-elements-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="110.096" height="87.362" viewBox="0 0 110.096 87.362">
					<g transform="translate(0 0)">
						<path
							d="M110.1,102.592a9.559,9.559,0,0,0-5.2-8.563c-3.271-1.673-7.507-2.521-12.589-2.521H37.059a11.051,11.051,0,0,0-2.6-5.259L26.623,77.54a11.529,11.529,0,0,0-7.844-3.685l-1.407-.1a5.538,5.538,0,0,0-2.155.286v-4.6a5.644,5.644,0,0,0-1.765-4.1,7.608,7.608,0,1,0-11.685,0A5.644,5.644,0,0,0,0,69.437v68.636a2.15,2.15,0,0,0,2.15,2.15H9.572a2.15,2.15,0,0,0,2.141-1.948c.256-2.708,1.688-10.145,5.236-13.479h5.758a2.15,2.15,0,1,0,0-4.3H4.3v-18.93H33v5.6a6.019,6.019,0,0,0,6.013,6.013h65.069a6.037,6.037,0,0,0,1.712-.248V120.5H41.627a2.15,2.15,0,1,0,0,4.3h51.52c3.534,3.326,4.975,10.769,5.236,13.479a2.15,2.15,0,0,0,2.141,1.948h7.422a2.15,2.15,0,0,0,2.15-2.15ZM15.221,81.072c.032-.916-.094-1.863.661-2.537s1.671-.456,2.593-.39a7.162,7.162,0,0,1,4.95,2.271l7.835,8.71a7.333,7.333,0,0,1,1.715,5.539,2.67,2.67,0,0,1-.749,2.156,2.785,2.785,0,0,1-2.107.413,7.335,7.335,0,0,1-5.328-2.29l-7.835-8.709a7.277,7.277,0,0,1-1.736-5.163ZM4.3,97.264V69.437A1.361,1.361,0,0,1,5.66,68.078h3.9a1.361,1.361,0,0,1,1.359,1.359V97.264H4.3Zm10.915-6.535,5.879,6.535H15.216ZM7.608,57.163A3.307,3.307,0,1,1,4.3,60.47,3.311,3.311,0,0,1,7.608,57.163Zm.091,78.76H4.3V124.8h7.21A32.764,32.764,0,0,0,7.7,135.923ZM39.015,108.88a1.714,1.714,0,0,1-1.712-1.712V95.808h55c4.395,0,7.972.69,10.631,2.049a5.276,5.276,0,0,1,2.858,4.734v4.568s0,.006,0,.008a1.714,1.714,0,0,1-1.712,1.712H39.015ZM102.4,135.923A32.775,32.775,0,0,0,98.585,124.8h7.21v11.127Z"
							transform="translate(0 -52.862)" />
						<path d="M143.747,368.742a2.149,2.149,0,1,0-1.163,2.809A2.17,2.17,0,0,0,143.747,368.742Z"
							transform="translate(-109.594 -299.781)" />
					</g>
				</svg>
			</div>
			<div class="content-home-itens-elements-text">
				<h2> {{ 'Hotelaria'|contenttext('HOME', true) }}</h2>
				{{ '<p>Bem-vindo a toda facturação, fluxo de compras e rastreamento de produtos, disponíveis na cloud, ao alcance de um click.</p>'|contenttext('HOME', false) }}
				<a href="{{ 'hotelaria'|page }}">
					{{ 'saber mais'|contenttext('HOME', true) }}
				</a>
			</div>
		</div>
		<div class="content-home-itens-elements" data-aos="fade-up" data-aos-delay="800">
			<div class="content-home-itens-elements-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="105.645" height="105.644" viewBox="0 0 105.645 105.644">
					<g transform="translate(0 0)">
						<g transform="translate(0 0)">
							<path
								d="M105.146,37.988,88.107,20.949a1.7,1.7,0,0,0-.9-.47L68.464,17.07a1.7,1.7,0,0,0-1.981,1.371,1.687,1.687,0,0,0-.027.3,10.117,10.117,0,0,1-.145,1.615L54.527,17.416v-.545A8.52,8.52,0,1,0,44.3,8.522h3.408a5.112,5.112,0,1,1,5.112,5.112,1.7,1.7,0,0,0-1.7,1.7v2.077L39.336,20.361a10.116,10.116,0,0,1-.145-1.615,1.7,1.7,0,0,0-.612-1.309,1.664,1.664,0,0,0-1.4-.366L18.439,20.478a1.7,1.7,0,0,0-.9.47L.5,37.988A1.7,1.7,0,0,0,.5,40.4L14.132,54.029a1.7,1.7,0,0,0,2.409,0l3.907-3.907V61.344H8.521A8.494,8.494,0,0,0,3.462,76.679a8.441,8.441,0,0,0,0,13.631,8.494,8.494,0,0,0,5.059,15.335H69.863a1.7,1.7,0,0,0,1.2-.5L84.7,91.515a1.688,1.688,0,0,0,.484-1.2H85.2V50.122l3.907,3.907a1.7,1.7,0,0,0,2.409,0L105.146,40.4A1.7,1.7,0,0,0,105.146,37.988ZM52.823,20.5l12.391,3.1A13.9,13.9,0,0,1,52.823,30.46,13.9,13.9,0,0,1,40.432,23.6ZM3.409,69.864a5.112,5.112,0,0,1,5.112-5.112H46.007a5.112,5.112,0,0,1,0,10.224H8.521A5.112,5.112,0,0,1,3.409,69.864Zm0,13.632a5.112,5.112,0,0,1,5.112-5.112H46.007a5.112,5.112,0,0,1,0,10.224H8.521A5.112,5.112,0,0,1,3.409,83.5Zm42.6,18.743H8.521a5.112,5.112,0,1,1,0-10.224H46.007a5.112,5.112,0,0,1,0,10.224Zm25.559-2.409V92.015h7.814ZM90.31,50.415,79.587,39.692,77.178,42.1l4.613,4.613V88.607H69.863a1.7,1.7,0,0,0-1.7,1.7v11.928H52.779a8.4,8.4,0,0,0-1.517-11.788q-.092-.071-.187-.14a8.441,8.441,0,0,0,0-13.632,8.494,8.494,0,0,0-5.068-15.335H23.856V46.714L28.469,42.1l-2.409-2.409L15.336,50.415,4.114,39.193,19.572,23.735,35.93,20.761c1.114,7.388,8.264,13.107,16.889,13.107s15.775-5.718,16.889-13.107l16.358,2.973,15.465,15.458Z"
								transform="translate(0 -0.002)" />
							<rect width="40.566" height="2.386" transform="translate(7.272 68.272)" />
							<rect width="38.18" height="3.182" transform="translate(7.272 81.794)" />
							<rect width="38.18" height="3.182" transform="translate(7.272 95.316)" />
						</g>
					</g>
				</svg>
			</div>
			<div class="content-home-itens-elements-text">
				<h2>{{ 'Retalho'|contenttext('HOME', true) }}</h2>
				{{ '<p>Usabilidade, flexibilidade e rigor nos processos sobre vendas, compras e stock. Perfeito para si.</p>'|contenttext('HOME', false) }}
				<a href="{{ 'retalho'|page }}">
					{{ 'saber mais'|contenttext('HOME', true) }}
				</a>
			</div>
		</div>
	</div>
</section>

<section class="content-home-information" data-aos="fade-right" data-aos-delay="200">
	<div class="content-home-information-itens container">
		<div class="content-home-information-itens-header">
			<h2>{{ 'Simples, fácil e rápido'|contenttext('HOME', true) }}</h2>
			{{ '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor augue vel dictum pharetra. Proin gravida ante dui, ut mollis orci tincidunt vel.</p>'|contenttext('HOME', false) }}
		</div>
		<div class="content-home-information-itens-image">
			<!-- <img class="img-fluid" src="{{ 'img/home/image-destaque.png'|contentimage('HOME', 'Imagem Destaque') }}" alt="image destaque" /> -->
			<iframe class="iframe-video" width="560" height="315" src="{{ 'https://www.youtube.com/embed/1Lxpbf1vIpg'|contenttext('HOME', true, 'Video Geral') }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</section>

<section class="content-home-functionalities">
	<div class="content-home-functionalities-itens container">
		<div class="content-home-functionalities-itens-header">
			<h2>{{ 'Principais Funcionalidades'|contenttext('HOME', true) }}</h2>
		</div>
		<div class="content-home-functionalities-itens-body">
			<div class="content-home-functionalities-itens-body-elements" data-aos="fade-right" data-aos-delay="200">
				<div class="content-home-functionalities-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="81.083" height="72.074" viewBox="0 0 81.083 72.074">
						<path
							d="M11.262,49.551H2.252A2.252,2.252,0,0,0,0,51.8V69.821a2.252,2.252,0,0,0,2.252,2.252h9.009a2.252,2.252,0,0,0,2.252-2.252V51.8A2.252,2.252,0,0,0,11.262,49.551ZM9.009,67.569H4.5V54.055h4.5ZM78.831,27.028H69.821a2.252,2.252,0,0,0-2.252,2.252V69.821a2.252,2.252,0,0,0,2.252,2.252h9.009a2.252,2.252,0,0,0,2.252-2.252V29.28A2.252,2.252,0,0,0,78.831,27.028ZM76.578,67.569h-4.5V31.532h4.5Zm-5.8-55.086a6.743,6.743,0,1,0-3.205-5.726,6.683,6.683,0,0,0,.4,2.2L55.355,19.049a6.628,6.628,0,0,0-7.1,0L35.639,8.959a6.676,6.676,0,0,0,.4-2.2A6.757,6.757,0,1,0,23.2,9.654L9.654,23.2a6.743,6.743,0,1,0,3.86,6.081,6.691,6.691,0,0,0-.676-2.9L26.383,12.838a6.593,6.593,0,0,0,6.449-.356l12.613,10.09a6.757,6.757,0,1,0,12.717,0L70.774,12.483ZM74.326,4.5a2.252,2.252,0,1,1-2.252,2.252A2.255,2.255,0,0,1,74.326,4.5ZM6.757,31.532A2.252,2.252,0,1,1,9.009,29.28,2.255,2.255,0,0,1,6.757,31.532ZM29.28,9.009a2.252,2.252,0,1,1,2.252-2.252A2.255,2.255,0,0,1,29.28,9.009ZM51.8,27.028a2.252,2.252,0,1,1,2.252-2.252A2.255,2.255,0,0,1,51.8,27.028Zm-18.018,0H24.775a2.252,2.252,0,0,0-2.252,2.252V69.821a2.252,2.252,0,0,0,2.252,2.252h9.009a2.252,2.252,0,0,0,2.252-2.252V29.28A2.252,2.252,0,0,0,33.785,27.028ZM31.532,67.569h-4.5V31.532h4.5ZM56.308,45.046H47.3A2.252,2.252,0,0,0,45.046,47.3V69.821A2.252,2.252,0,0,0,47.3,72.074h9.009a2.252,2.252,0,0,0,2.252-2.252V47.3A2.252,2.252,0,0,0,56.308,45.046ZM54.055,67.569h-4.5V49.551h4.5Z" />
					</svg>
				</div>
				<div class="content-home-functionalities-itens-body-elements-text">
					{{ '<p>Imagem macroeconómica da empresa</p>'|contenttext('HOME', false) }}
				</div>
			</div>
			<div class="content-home-functionalities-itens-body-elements" data-aos="fade-right" data-aos-delay="300">
				<div class="content-home-functionalities-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="92.666" height="72.074" viewBox="0 0 92.666 72.074">
						<path
							d="M19.305,78.333a3.861,3.861,0,1,1-3.861-3.861A3.86,3.86,0,0,1,19.305,78.333ZM46.333,51.305a3.861,3.861,0,1,0-3.861-3.861A3.86,3.86,0,0,0,46.333,51.305Zm21.88,9.009a3.861,3.861,0,1,0-3.861-3.861A3.86,3.86,0,0,0,68.213,60.315Zm11.548,17.6a2.572,2.572,0,0,1-2.117,2.962L56.536,84.392a10.211,10.211,0,1,1-.806-5.085L76.8,75.794A2.585,2.585,0,0,1,79.761,77.912Zm-28.279,5.57a5.148,5.148,0,1,0-5.148,5.148A5.149,5.149,0,0,0,51.481,83.481ZM24.454,52.592a3.861,3.861,0,1,0,3.861,3.861A3.86,3.86,0,0,0,24.454,52.592ZM92.666,78.333a46.092,46.092,0,0,1-6.284,23.3,5.091,5.091,0,0,1-4.415,2.445H10.7a5.091,5.091,0,0,1-4.415-2.445,46.332,46.332,0,1,1,86.382-23.3Zm-5.148,0a41.185,41.185,0,1,0-76.787,20.7l71.237-.109A40.73,40.73,0,0,0,87.518,78.333Z"
							transform="translate(0 -32)" /></svg>
				</div>
				<div class="content-home-functionalities-itens-body-elements-text">
					{{ '<p>Facilidade na usabilidade e rapidez</p>'|contenttext('HOME', false ) }}
				</div>
			</div>
			<div class="content-home-functionalities-itens-body-elements" data-aos="fade-right" data-aos-delay="400">
				<div class="content-home-functionalities-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="74.693" height="56.02" viewBox="0 0 74.693 56.02">
						<path
							d="M73.526,115.352H4.668V65.167A1.167,1.167,0,0,0,3.5,64H1.167A1.167,1.167,0,0,0,0,65.167v52.519a2.334,2.334,0,0,0,2.334,2.334H73.526a1.167,1.167,0,0,0,1.167-1.167v-2.334A1.167,1.167,0,0,0,73.526,115.352ZM14.346,93.036a1.168,1.168,0,0,0,0,1.65L16,96.336a1.168,1.168,0,0,0,1.65,0l10.6-10.505L40.606,98.185a2.334,2.334,0,0,0,3.3,0L57.552,84.541l6.425,6.425a3.468,3.468,0,0,0,2.48,1.045,3.541,3.541,0,0,0,3.568-3.551V71.03a2.362,2.362,0,0,0-2.362-2.362H50.234a3.543,3.543,0,0,0-2.5,6.048l6.523,6.523L42.257,93.234,29.911,80.888a2.333,2.333,0,0,0-3.293-.007L14.346,93.036Zm38.6-19.7H65.357V85.743Z"
							transform="translate(0 -64)" /></svg>
				</div>
				<div class="content-home-functionalities-itens-body-elements-text">
					{{ '<p>Dashboard com KPIs em tempo real </p>'|contenttext('HOME', false) }}
				</div>
			</div>
			<div class="content-home-functionalities-itens-body-elements" data-aos="fade-right" data-aos-delay="500">
				<div class="content-home-functionalities-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="68.001" height="60.445" viewBox="0 0 68.001 60.445">
						<path
							d="M65.166,7.556h-49.9l-.983-5.244A2.833,2.833,0,0,0,11.494,0H1.417A1.417,1.417,0,0,0,0,1.417v.944A1.417,1.417,0,0,0,1.417,3.778H10.71l8.255,44.029a7.556,7.556,0,1,0,12.133,1.3H48.236a7.556,7.556,0,1,0,11.809-1.637A2.835,2.835,0,0,0,57.3,45.334H22.346l-1.417-7.556H60.051a2.834,2.834,0,0,0,2.774-2.255L67.94,10.967A2.833,2.833,0,0,0,65.166,7.556ZM28.334,52.89a3.778,3.778,0,1,1-3.778-3.778A3.782,3.782,0,0,1,28.334,52.89Zm26.445,3.778a3.778,3.778,0,1,1,3.778-3.778A3.782,3.782,0,0,1,54.778,56.667ZM59.283,34H20.221l-4.25-22.667H64.005Z" />
					</svg>
				</div>
				<div class="content-home-functionalities-itens-body-elements-text">
					{{ '<p>Mapa de evolução de vendas </p>'|contenttext('HOME', false ) }}
				</div>
			</div>
			<div class="content-home-functionalities-itens-body-elements" data-aos="fade-right" data-aos-delay="600">
				<div class="content-home-functionalities-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="58.885" height="67.297" viewBox="0 0 58.885 67.297">
						<path
							d="M52.576,8.412H46.267V1.577A1.582,1.582,0,0,0,44.69,0H43.638a1.582,1.582,0,0,0-1.577,1.577V8.412H16.824V1.577A1.582,1.582,0,0,0,15.247,0H14.2a1.582,1.582,0,0,0-1.577,1.577V8.412H6.309A6.311,6.311,0,0,0,0,14.721V60.988A6.311,6.311,0,0,0,6.309,67.3H52.576a6.311,6.311,0,0,0,6.309-6.309V14.721A6.311,6.311,0,0,0,52.576,8.412ZM6.309,12.618H52.576a2.109,2.109,0,0,1,2.1,2.1V21.03H4.206V14.721A2.109,2.109,0,0,1,6.309,12.618ZM52.576,63.091H6.309a2.109,2.109,0,0,1-2.1-2.1V25.237H54.679V60.988A2.109,2.109,0,0,1,52.576,63.091ZM19.453,42.061H14.2a1.582,1.582,0,0,1-1.577-1.577V35.226A1.582,1.582,0,0,1,14.2,33.649h5.258a1.582,1.582,0,0,1,1.577,1.577v5.258A1.582,1.582,0,0,1,19.453,42.061Zm12.618,0H26.814a1.582,1.582,0,0,1-1.577-1.577V35.226a1.582,1.582,0,0,1,1.577-1.577h5.258a1.582,1.582,0,0,1,1.577,1.577v5.258A1.582,1.582,0,0,1,32.071,42.061Zm12.618,0H39.432a1.582,1.582,0,0,1-1.577-1.577V35.226a1.582,1.582,0,0,1,1.577-1.577H44.69a1.582,1.582,0,0,1,1.577,1.577v5.258A1.582,1.582,0,0,1,44.69,42.061ZM32.071,54.679H26.814A1.582,1.582,0,0,1,25.237,53.1V47.844a1.582,1.582,0,0,1,1.577-1.577h5.258a1.582,1.582,0,0,1,1.577,1.577V53.1A1.582,1.582,0,0,1,32.071,54.679Zm-12.618,0H14.2A1.582,1.582,0,0,1,12.618,53.1V47.844A1.582,1.582,0,0,1,14.2,46.267h5.258a1.582,1.582,0,0,1,1.577,1.577V53.1A1.582,1.582,0,0,1,19.453,54.679Zm25.237,0H39.432A1.582,1.582,0,0,1,37.855,53.1V47.844a1.582,1.582,0,0,1,1.577-1.577H44.69a1.582,1.582,0,0,1,1.577,1.577V53.1A1.582,1.582,0,0,1,44.69,54.679Z" />
					</svg>
				</div>
				<div class="content-home-functionalities-itens-body-elements-text">
					{{ '<p>Calendarização dos preços de venda</p>'|contenttext('HOME', false) }}
				</div>
			</div>
			<div class="content-home-functionalities-itens-body-elements" data-aos="fade-right" data-aos-delay="700">
				<div class="content-home-functionalities-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="73.591" height="73.591" viewBox="0 0 73.591 73.591">
						<path
							d="M44.8,8a36.8,36.8,0,1,0,36.8,36.8A36.789,36.789,0,0,0,44.8,8ZM76.843,44.8A32.048,32.048,0,1,1,44.8,12.748,32.047,32.047,0,0,1,76.843,44.8ZM54.751,57.9,42.7,49.143a1.792,1.792,0,0,1-.727-1.439V24.024a1.786,1.786,0,0,1,1.78-1.78h2.077a1.786,1.786,0,0,1,1.78,1.78V45.73l10.46,7.611a1.779,1.779,0,0,1,.386,2.493l-1.217,1.677a1.793,1.793,0,0,1-2.493.386Z"
							transform="translate(-8 -8)" /></svg>
				</div>
				<div class="content-home-functionalities-itens-body-elements-text">
					{{ '<p>Consulta de stocks em tempo real</p>'|contenttext('HOME', false) }}
				</div>
			</div>
			<div class="content-home-functionalities-itens-body-elements" data-aos="fade-right" data-aos-delay="800">
				<div class="content-home-functionalities-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="79.542" height="63.634" viewBox="0 0 79.542 63.634">
						<path
							d="M78.548,29.828H41.76V19.885H51.7a3.978,3.978,0,0,0,3.977-3.977V3.977A3.978,3.978,0,0,0,51.7,0H27.84a3.978,3.978,0,0,0-3.977,3.977V15.908a3.978,3.978,0,0,0,3.977,3.977h9.943v9.943H.994A.994.994,0,0,0,0,30.823v1.989a.994.994,0,0,0,.994.994H15.908v9.943H7.954a3.978,3.978,0,0,0-3.977,3.977V59.656a3.978,3.978,0,0,0,3.977,3.977H27.84a3.978,3.978,0,0,0,3.977-3.977V47.725a3.978,3.978,0,0,0-3.977-3.977H19.885V33.805H59.656v9.943H51.7a3.978,3.978,0,0,0-3.977,3.977V59.656A3.978,3.978,0,0,0,51.7,63.634H71.588a3.978,3.978,0,0,0,3.977-3.977V47.725a3.978,3.978,0,0,0-3.977-3.977H63.634V33.805H78.548a.994.994,0,0,0,.994-.994V30.823A.994.994,0,0,0,78.548,29.828ZM27.84,47.725V59.656H7.954V47.725Zm0-31.817V3.977H51.7V15.908ZM71.588,47.725V59.656H51.7V47.725Z" />
					</svg>
				</div>
				<div class="content-home-functionalities-itens-body-elements-text">
					{{ '<p>Gestão dos preços por loja ou multi-loja</p>'|contenttext('HOME', false) }}
				</div>
			</div>
			<div class="content-home-functionalities-itens-body-elements" data-aos="fade-right" data-aos-delay="900">
				<div class="content-home-functionalities-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="75.198" height="60.159" viewBox="0 0 75.198 60.159">
						<path
							d="M57.867,15.674,53.919,3.854A5.624,5.624,0,0,0,48.573,0H11.585A5.624,5.624,0,0,0,6.239,3.854L.294,21.69A5.746,5.746,0,0,0,0,23.476V54.519a5.641,5.641,0,0,0,5.64,5.64h47a22.548,22.548,0,0,0,5.229-44.484ZM31.959,3.76H48.573a1.885,1.885,0,0,1,1.786,1.281l3.349,10.046c-.352-.012-.7-.059-1.069-.059a22.459,22.459,0,0,0-16.779,7.52h-3.9ZM9.8,5.041A1.885,1.885,0,0,1,11.585,3.76H28.2v18.8H3.96ZM5.64,56.4a1.885,1.885,0,0,1-1.88-1.88v-28.2H33.122A22.5,22.5,0,0,0,40.184,56.4Zm47,0a18.8,18.8,0,1,1,18.8-18.8A18.825,18.825,0,0,1,52.639,56.4Zm7.59-26.049a.929.929,0,0,0-1.316,0L50.7,38.492l-3.56-3.6a.929.929,0,0,0-1.316,0l-2.2,2.185a.929.929,0,0,0,0,1.316l6.392,6.451a.929.929,0,0,0,1.316,0L62.4,33.863a.929.929,0,0,0,0-1.316l-2.174-2.2Z" />
					</svg>
				</div>
				<div class="content-home-functionalities-itens-body-elements-text">
					{{ '<p>Controlo de encomendas</p>'|contenttext('HOME', false) }}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content-home-details">
	<div class="content-home-details-itens container">
		<div class="content-home-details-itens-elements" data-aos="fade-up" data-aos-delay="200">
			<div class="content-home-details-itens-elements-text">
				<div class="content-home-details-itens-elements-text-header">
					<div class="content-home-details-itens-elements-text-header-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="75.376" height="79.893"
							viewBox="0 0 75.376 79.893">
							<path
								d="M27.265,58.019a1.922,1.922,0,0,1-1.745,1.127,1.9,1.9,0,0,1-.812-.183l-8.531-4.034a1.963,1.963,0,0,1-.931-2.593,1.912,1.912,0,0,1,2.557-.944l8.531,4.034A1.963,1.963,0,0,1,27.265,58.019ZM23.144,22.887h.375V36.744a1.924,1.924,0,1,0,3.848,0V22.887H46.546A11.378,11.378,0,0,0,57.83,11.443a1.924,1.924,0,1,0-3.848,0,7.5,7.5,0,0,1-7.437,7.541h-23.4a7.542,7.542,0,0,1,0-15.083H33.978a11.3,11.3,0,0,0-2.769,7.425,1.924,1.924,0,1,0,3.848,0A7.439,7.439,0,0,1,42.493,3.9H69.947a7.542,7.542,0,0,1,0,15.083H60.586a1.951,1.951,0,0,0,0,3.9h5.138V36.744a1.924,1.924,0,1,0,3.848,0V22.887h.375A11.378,11.378,0,0,0,81.232,11.443,11.378,11.378,0,0,0,69.947,0h-46.8A11.378,11.378,0,0,0,11.859,11.443,11.378,11.378,0,0,0,23.144,22.887Zm54,27.208a1.913,1.913,0,0,0-2.536,1A2.638,2.638,0,0,1,73.34,52.5l-4.708,2.227a2.58,2.58,0,0,1-1.861.083,1.921,1.921,0,0,0-2.378,1.341,1.955,1.955,0,0,0,1.322,2.412,6.942,6.942,0,0,0,1.931.282,6.074,6.074,0,0,0,2.612-.581l4.708-2.227a6.486,6.486,0,0,0,3.162-3.372,1.962,1.962,0,0,0-.985-2.572ZM28.6,50.49l-8.531-4.034a1.912,1.912,0,0,0-2.557.944,1.963,1.963,0,0,0,.931,2.593l8.531,4.034a1.893,1.893,0,0,0,.812.183,1.922,1.922,0,0,0,1.745-1.127A1.963,1.963,0,0,0,28.6,50.49Zm55.021,4.625a10,10,0,0,1-5.152,5.715l-6.859,3.243a9.782,9.782,0,0,1-7.628.329,9.942,9.942,0,0,1-4.654-3.535l-7.57,3.58,24.8,11.728a1.963,1.963,0,0,1,.931,2.593,1.922,1.922,0,0,1-1.745,1.127,1.9,1.9,0,0,1-.812-.183L47.209,66.6,19.591,79.658a1.912,1.912,0,0,1-2.557-.944,1.963,1.963,0,0,1,.931-2.593L42.657,64.446,35.2,60.918a9.941,9.941,0,0,1-4.654,3.535,9.785,9.785,0,0,1-7.628-.329L12.1,59.011a5.737,5.737,0,0,1-2.717-7.57l3.688-8.02a5.608,5.608,0,0,1,3.171-2.941,5.507,5.507,0,0,1,4.294.186L31.35,45.779A10,10,0,0,1,36.5,51.494a10.2,10.2,0,0,1,.321,5.888l10.386,4.911,10.5-4.963a10.183,10.183,0,0,1,5.472-11.6l6.858-3.243a9.934,9.934,0,0,1,13.264,4.9,10.179,10.179,0,0,1,.325,7.736ZM32.886,52.828a6.141,6.141,0,0,0-3.162-3.512L18.911,44.2a1.733,1.733,0,0,0-1.351-.056,1.765,1.765,0,0,0-1,.923l-3.688,8.02a1.807,1.807,0,0,0,.856,2.384l10.813,5.113a6.012,6.012,0,0,0,4.686.2,6.12,6.12,0,0,0,3.464-3.206,6.254,6.254,0,0,0,.2-4.752Zm46.926-3.8a6.1,6.1,0,0,0-8.15-3.008L64.8,49.263a6.262,6.262,0,0,0-3.079,8,3.989,3.989,0,0,1,.237.516A6.116,6.116,0,0,0,65.3,60.734a6.009,6.009,0,0,0,4.686-.2l6.859-3.243a6.142,6.142,0,0,0,3.162-3.512,6.254,6.254,0,0,0-.2-4.752Z"
								transform="translate(-8.858 0)" /></svg>
					</div>
					<h2>{{ 'Restauração'|contenttext('HOME', true) }}</h2>
				</div>
				<div class="content-home-details-itens-elements-text-item">
					{{ '<p>O ZS bms PRO é uma ferramenta baseada na cloud que permite o controlo do seu negócio: número de
						vendas,
						rentabilidade do menu, custos, ticket médio, pratos mais vendidos, validades e pesos, informação
						nutricional
						e ingredientes por artigo, reporting das compras baseado em rankings e comparativos,… Isto e
						muito mais para
						que possa ganhar tempo, dinheiro e controlo.
					</p>'|contenttext('HOME', false) }}
					<a href="{{ 'restauracao'|page }}">
						{{ 'saber mais'|contenttext('HOME', true) }}
					</a>
				</div>
			</div>
			<div class="content-home-details-itens-elements-image">
				<img class="img-fluid" src="{{ 'img/home/image-restaurante.png'|contentimage('HOME', 'Imagem Restaurante') }}" alt="image restaurante">
			</div>
		</div>
		<div class="content-home-details-itens-elements" data-aos="fade-down" data-aos-delay="300">
			<div class="content-home-details-itens-elements-image">
				<img class="img-fluid" src="{{ 'img/home/image-hotel.png'|contentimage('HOME', 'Imagem Hotel') }}" alt="image hotel">
			</div>
			<div class="content-home-details-itens-elements-text">
				<div class="content-home-details-itens-elements-text-header">
					<div class="content-home-details-itens-elements-text-header-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="69.046" height="54.788"
							viewBox="0 0 69.046 54.788">
							<g transform="translate(0 0)">
								<path
									d="M69.046,84.05a6,6,0,0,0-3.262-5.37,17.379,17.379,0,0,0-7.9-1.581H23.241a6.931,6.931,0,0,0-1.631-3.3L16.7,68.338a7.231,7.231,0,0,0-4.92-2.311l-.883-.062a3.473,3.473,0,0,0-1.352.179V63.257a3.539,3.539,0,0,0-1.107-2.572,4.771,4.771,0,1,0-7.328,0A3.54,3.54,0,0,0,0,63.257V106.3a1.349,1.349,0,0,0,1.349,1.349H6a1.349,1.349,0,0,0,1.343-1.222c.161-1.7,1.059-6.362,3.283-8.454H14.24a1.349,1.349,0,1,0,0-2.7H2.7V83.406h18v3.514a3.775,3.775,0,0,0,3.771,3.771H65.275a3.786,3.786,0,0,0,1.073-.156v4.743H26.106a1.349,1.349,0,0,0,0,2.7H58.417c2.216,2.086,3.12,6.754,3.284,8.454a1.349,1.349,0,0,0,1.343,1.222H67.7a1.349,1.349,0,0,0,1.349-1.349Zm-59.5-13.5c.02-.575-.059-1.168.415-1.591s1.048-.286,1.626-.245a4.492,4.492,0,0,1,3.1,1.424L19.6,75.6a4.6,4.6,0,0,1,1.076,3.474,1.674,1.674,0,0,1-.47,1.352,1.746,1.746,0,0,1-1.321.259,4.6,4.6,0,0,1-3.341-1.436l-4.913-5.462a4.564,4.564,0,0,1-1.089-3.238ZM2.7,80.708V63.257A.854.854,0,0,1,3.55,62.4H5.993a.854.854,0,0,1,.853.853V80.708H2.7Zm6.845-4.1,3.687,4.1H9.542ZM4.771,55.559A2.074,2.074,0,1,1,2.7,57.633,2.076,2.076,0,0,1,4.771,55.559Zm.057,49.394H2.7V97.975H7.219A20.548,20.548,0,0,0,4.828,104.953Zm19.64-16.96a1.075,1.075,0,0,1-1.073-1.073V79.8h34.5a14.78,14.78,0,0,1,6.667,1.285,3.309,3.309,0,0,1,1.792,2.969v2.865s0,0,0,.005a1.075,1.075,0,0,1-1.073,1.073H24.468Zm39.75,16.96a20.555,20.555,0,0,0-2.391-6.978h4.522v6.978Z"
									transform="translate(0 -52.862)" />
								<path
									d="M142.207,368.249a1.348,1.348,0,1,0-.73,1.761A1.361,1.361,0,0,0,142.207,368.249Z"
									transform="translate(-120.788 -325.001)" />
							</g>
						</svg>
					</div>
					<h2>{{ 'Hotelaria'|contenttext('HOME', true) }}</h2>
				</div>
				<div class="content-home-details-itens-elements-text-item">
					{{'<p>Se procura aumentar a rentabilidade, otimizar a eficiência e integrar os seus processos de
						vendas, o ZS bms
						Pro é perfeito para ter o controlo do seu negócio. Gaste menos tempo com tabelas excel e mais
						tempo a
						vender. O ZS bms Pro dá-lhe tudo o que precisa de saber sobre o seu negócio, num único ecrã,
						numa interface
						simples.
					</p>'|contenttext('HOME', false) }}
					<a href="{{ 'hotelaria'|page }}">
						{{ 'saber mais'|contenttext('HOME', true) }}
					</a>
				</div>
			</div>
		</div>
		<div class="content-home-details-itens-elements" data-aos="zoom-in" data-aos-delay="400">
			<div class="content-home-details-itens-elements-text">
				<div class="content-home-details-itens-elements-text-header">
					<div class="content-home-details-itens-elements-text-header-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="70.982" height="70.982"
							viewBox="0 0 70.982 70.982">
							<g transform="translate(0 0)">
								<g transform="translate(0 0)">
									<path
										d="M70.647,25.525,59.2,14.076a1.145,1.145,0,0,0-.6-.316L46,11.47a1.145,1.145,0,0,0-1.331.921,1.133,1.133,0,0,0-.018.2,6.8,6.8,0,0,1-.1,1.085L36.636,11.7v-.366a5.724,5.724,0,1,0-6.869-5.61h2.29a3.435,3.435,0,1,1,3.435,3.435,1.145,1.145,0,0,0-1.145,1.145v1.4L26.43,13.681a6.8,6.8,0,0,1-.1-1.085,1.145,1.145,0,0,0-.411-.879,1.118,1.118,0,0,0-.939-.246L12.389,13.76a1.145,1.145,0,0,0-.6.316L.336,25.525a1.145,1.145,0,0,0,0,1.619L9.495,36.3a1.145,1.145,0,0,0,1.619,0l2.625-2.625v7.54H5.725a5.707,5.707,0,0,0-3.4,10.3,5.672,5.672,0,0,0,0,9.159,5.707,5.707,0,0,0,3.4,10.3H46.94a1.145,1.145,0,0,0,.809-.335l9.159-9.159a1.134,1.134,0,0,0,.325-.809h.01v-27L59.869,36.3a1.145,1.145,0,0,0,1.619,0l9.159-9.159A1.145,1.145,0,0,0,70.647,25.525ZM35.491,13.775l8.325,2.081a9.341,9.341,0,0,1-8.325,4.61,9.341,9.341,0,0,1-8.325-4.61ZM2.29,46.942a3.435,3.435,0,0,1,3.435-3.435H30.912a3.435,3.435,0,0,1,0,6.869H5.725A3.435,3.435,0,0,1,2.29,46.942Zm0,9.159a3.435,3.435,0,0,1,3.435-3.435H30.912a3.435,3.435,0,0,1,0,6.869H5.725A3.435,3.435,0,0,1,2.29,56.1ZM30.912,68.694H5.725a3.435,3.435,0,0,1,0-6.869H30.912a3.435,3.435,0,0,1,0,6.869Zm17.173-1.619v-5.25h5.25Zm12.594-33.2-7.2-7.2-1.619,1.619,3.1,3.1V59.535H46.94A1.145,1.145,0,0,0,45.8,60.68v8.014H35.462a5.647,5.647,0,0,0-1.019-7.92l-.126-.094a5.671,5.671,0,0,0,0-9.159,5.707,5.707,0,0,0-3.4-10.3H16.029v-9.83l3.1-3.1-1.619-1.619-7.2,7.2-7.54-7.54L13.151,15.948l10.991-2c.749,4.964,5.553,8.806,11.348,8.806s10.6-3.842,11.348-8.806l10.991,2L68.219,26.334Z"
										transform="translate(0 -0.002)" />
									<rect width="27.256" height="1.603" transform="translate(4.886 45.871)" />
									<rect width="25.653" height="2.138" transform="translate(4.886 54.957)" />
									<rect width="25.653" height="2.138" transform="translate(4.886 64.042)" />
								</g>
							</g>
						</svg>
					</div>
					<h2>{{ 'Retalho'|contenttext('HOME', true) }}</h2>
				</div>
				<div class="content-home-details-itens-elements-text-item">
					{{'<p>O ZS bms Pro é a ferramenta perfeita para aumentar as suas vendas e margens de lucro. Permite
						acesso total
						ao seu negócio, desde a configuração dos vários pontos de venda, transferências entre armazéns
						até a
						realização de inventários, que possibilita um controlo de stocks permanente e eficaz, bem como
						inúmeras
						análises de rácios de custos e margens lucro.
					</p>'|contenttext('HOME', false) }}
					<a href="{{ 'retalho'|page }}">
						{{ 'saber mais'|contenttext('HOME', true) }}
					</a>
				</div>
			</div>
			<div class="content-home-details-itens-elements-image">
				<img class="img-fluid" src="{{ 'img/home/image-retalho.png'|contentimage('HOME', 'Imagem Retalho') }}" alt="image retalho">
			</div>
		</div>
	</div>
</section>

<section class="content-home-functionality">
	<div class="content-home-functionality-itens container">
		<div class="content-home-functionality-itens-header">
			<h2>Funcionalidades Extra</h2>
		</div>
		<div class="content-home-functionality-itens-body row">
			<button class="content-home-functionality-itens-body-btns col-md-4 col-lg-3" data-target="#modal-app-picking" data-toggle="modal">
				<svg xmlns="http://www.w3.org/2000/svg" width="46.373" height="74" viewBox="0 0 46.373 74">
					<path
						d="M27.824,60.125A4.637,4.637,0,1,1,23.187,55.5,4.626,4.626,0,0,1,27.824,60.125ZM46.373,6.938V67.063A6.949,6.949,0,0,1,39.417,74H6.956A6.949,6.949,0,0,1,0,67.063V6.938A6.949,6.949,0,0,1,6.956,0H39.417A6.949,6.949,0,0,1,46.373,6.938Zm-4.637,0a2.322,2.322,0,0,0-2.319-2.312H6.956A2.322,2.322,0,0,0,4.637,6.938V67.063a2.322,2.322,0,0,0,2.319,2.312H39.417a2.322,2.322,0,0,0,2.319-2.312Z"
						fill="#ee4e1b" /></svg>
				<p>Shop Floor
					Picking APP</p>
			</button>
			<button class="content-home-functionality-itens-body-btns col-md-4 col-lg-3" data-target="#modal-loyalty-app" data-toggle="modal">
				<svg xmlns="http://www.w3.org/2000/svg" width="74" height="74" viewBox="0 0 74 74">
					<path
						d="M50.537,25.1,48.9,23.463a1.157,1.157,0,0,0-1.635,0l-23.8,23.8a1.157,1.157,0,0,0,0,1.635L25.1,50.535a1.157,1.157,0,0,0,1.635,0l23.8-23.8a1.155,1.155,0,0,0,0-1.635ZM34.688,27.75a6.938,6.938,0,1,0-6.937,6.938A6.945,6.945,0,0,0,34.688,27.75Zm-9.25,0a2.313,2.313,0,1,1,2.313,2.313A2.316,2.316,0,0,1,25.438,27.75ZM46.25,39.313a6.938,6.938,0,1,0,6.938,6.938A6.945,6.945,0,0,0,46.25,39.313Zm0,9.25a2.313,2.313,0,1,1,2.313-2.312A2.316,2.316,0,0,1,46.25,48.563ZM74,37a14.307,14.307,0,0,0-7.169-12.357A14.237,14.237,0,0,0,49.357,7.169a14.235,14.235,0,0,0-24.715,0A14.237,14.237,0,0,0,7.169,24.643a14.235,14.235,0,0,0,0,24.715A14.237,14.237,0,0,0,24.643,66.831a14.235,14.235,0,0,0,24.715,0A14.237,14.237,0,0,0,66.831,49.357,14.307,14.307,0,0,0,74,37ZM60.833,46.871c.766,1.705,4.264,7.819-.939,13.022-4.177,4.177-8.311,3.079-13.022.939-.665,1.749-2.5,8.542-9.871,8.542-7.53,0-9.351-7.154-9.871-8.542-4.712,2.139-8.86,3.209-13.022-.939-5.319-5.3-1.575-11.635-.939-13.022-1.749-.665-8.542-2.5-8.542-9.871,0-7.53,7.154-9.351,8.542-9.871-.766-1.705-4.264-7.819.939-13.022,5.319-5.333,11.678-1.546,13.022-.939.665-1.749,2.5-8.542,9.871-8.542,7.53,0,9.351,7.154,9.871,8.542,1.705-.766,7.819-4.264,13.022.939,5.319,5.3,1.575,11.635.939,13.022,1.749.665,8.542,2.5,8.542,9.871C69.375,44.53,62.221,46.351,60.833,46.871Z"
						fill="#ee4e1b" /></svg>
				<p>Loyalty
					APP</p>
			</button>
			<button class="content-home-functionality-itens-body-btns col-md-4 col-lg-3" data-target="#modal-budget-planing" data-toggle="modal">
				<svg xmlns="http://www.w3.org/2000/svg" width="74" height="74" viewBox="0 0 74 74">
					<path
						d="M11.1,38.2H28.367A1.233,1.233,0,0,0,29.6,36.967V34.5a1.233,1.233,0,0,0-1.233-1.233H11.1A1.233,1.233,0,0,0,9.867,34.5v2.467A1.233,1.233,0,0,0,11.1,38.2Zm.785,38.172,1.744,1.744a1.234,1.234,0,0,0,1.744,0l4.361-4.36,4.361,4.361a1.234,1.234,0,0,0,1.744,0l1.744-1.744a1.234,1.234,0,0,0,0-1.744l-4.36-4.363,4.361-4.361a1.234,1.234,0,0,0,0-1.744L25.84,62.418a1.234,1.234,0,0,0-1.744,0l-4.363,4.36-4.361-4.361a1.234,1.234,0,0,0-1.744,0l-1.744,1.745a1.234,1.234,0,0,0,0,1.744l4.36,4.361-4.361,4.36a1.234,1.234,0,0,0,0,1.745ZM69.067,16H4.933A4.934,4.934,0,0,0,0,20.933V85.067A4.934,4.934,0,0,0,4.933,90H69.067A4.934,4.934,0,0,0,74,85.067V20.933A4.934,4.934,0,0,0,69.067,16ZM34.533,85.067H4.933v-29.6h29.6Zm0-34.533H4.933v-29.6h29.6ZM69.067,85.067h-29.6v-29.6h29.6Zm0-34.533h-29.6v-29.6h29.6ZM45.633,38.2H51.8v6.167A1.233,1.233,0,0,0,53.033,45.6H55.5a1.233,1.233,0,0,0,1.233-1.233V38.2H62.9a1.233,1.233,0,0,0,1.233-1.233V34.5A1.233,1.233,0,0,0,62.9,33.267H56.733V27.1A1.233,1.233,0,0,0,55.5,25.867H53.033A1.233,1.233,0,0,0,51.8,27.1v6.167H45.633A1.233,1.233,0,0,0,44.4,34.5v2.467A1.233,1.233,0,0,0,45.633,38.2Zm0,39.467H62.9a1.233,1.233,0,0,0,1.233-1.233V73.967A1.233,1.233,0,0,0,62.9,72.733H45.633A1.233,1.233,0,0,0,44.4,73.967v2.467A1.233,1.233,0,0,0,45.633,77.667Zm0-9.867H62.9a1.233,1.233,0,0,0,1.233-1.233V64.1A1.233,1.233,0,0,0,62.9,62.867H45.633A1.233,1.233,0,0,0,44.4,64.1v2.467A1.233,1.233,0,0,0,45.633,67.8Z"
						transform="translate(0 -16)" fill="#ee4e1b" /></svg>
				<p>Budget
					Planning & Forecast</p>
			</button>
			<button class="content-home-functionality-itens-body-btns col-md-4 col-lg-3" data-target="#modal-financing" data-toggle="modal">
				<svg xmlns="http://www.w3.org/2000/svg" width="55.5" height="74" viewBox="0 0 55.5 74">
					<path
						d="M53.468,14.156,41.344,2.032A6.937,6.937,0,0,0,36.439,0H6.938A6.937,6.937,0,0,0,0,6.938V67.063A6.937,6.937,0,0,0,6.938,74H48.563A6.937,6.937,0,0,0,55.5,67.063v-48a6.937,6.937,0,0,0-2.032-4.906Zm-3.27,3.27A2.3,2.3,0,0,1,50.8,18.5H37V4.7a2.3,2.3,0,0,1,1.074.606ZM48.563,69.375H6.938a2.312,2.312,0,0,1-2.312-2.312V6.938A2.312,2.312,0,0,1,6.938,4.625H32.375V19.656a3.469,3.469,0,0,0,3.469,3.469H50.875V67.063A2.312,2.312,0,0,1,48.563,69.375ZM43.581,38.886,24.1,58.212a1.736,1.736,0,0,1-2.452-.007l-9.735-9.763a1.736,1.736,0,0,1,0-2.455l1.229-1.226a1.736,1.736,0,0,1,2.455,0l7.29,7.311L39.913,35.189a1.736,1.736,0,0,1,2.455.01l1.222,1.232a1.736,1.736,0,0,1-.01,2.455Z"
						fill="#ee4e1b" /></svg>
				<p>Financeiro
					Integração ERP</p>
			</button>
			<button class="content-home-functionality-itens-body-btns col-md-4 col-lg-3" data-target="#modal-haccp" data-toggle="modal">
				<svg xmlns="http://www.w3.org/2000/svg" width="73.999" height="74" viewBox="0 0 73.999 74">
					<path
						d="M71.969,14.161,59.846,2.038A6.934,6.934,0,0,0,54.948,0h-29.5a6.959,6.959,0,0,0-6.936,6.951v17a14,14,0,0,1-3.488-.727,2.734,2.734,0,0,0-.717-.1,2.8,2.8,0,0,0-1.974.837C9.736,26.6,9.863,26.532,6.3,27.5a2.849,2.849,0,0,0-1.992,2.034C3.376,33.1,3.431,33.03.84,35.654a2.953,2.953,0,0,0-.734,2.808c.948,3.524.942,3.525,0,7.047A2.956,2.956,0,0,0,.84,48.321c2.6,2.623,2.541,2.571,3.472,6.112A2.853,2.853,0,0,0,6.3,56.471c.26.069.422.116.645.175V71.688a2.312,2.312,0,0,0,3.346,2.068l8.215-4.108,8.215,4.108A2.331,2.331,0,0,0,27.759,74H67.071a6.939,6.939,0,0,0,6.936-6.936V19.074a6.971,6.971,0,0,0-2.038-4.913ZM55.512,4.71a2.274,2.274,0,0,1,1.07.607L68.7,17.441a2.274,2.274,0,0,1,.607,1.07h-13.8ZM4.817,45.77a11.918,11.918,0,0,0,0-7.572,11.828,11.828,0,0,0,3.7-6.513,11.4,11.4,0,0,0,6.342-3.713,13.373,13.373,0,0,0,3.644.6,13.3,13.3,0,0,0,3.641-.6,11.556,11.556,0,0,0,6.339,3.712A11.692,11.692,0,0,0,32.2,38.2a11.785,11.785,0,0,0,0,7.573,11.827,11.827,0,0,0-3.7,6.5,11.068,11.068,0,0,0-5.384,2.8,11.13,11.13,0,0,0-9.207,0,11.216,11.216,0,0,0-5.381-2.794,11.7,11.7,0,0,0-3.706-6.5ZM19.543,64.994a2.314,2.314,0,0,0-2.068,0l-5.9,2.951v-8.7c.017.017.027.025.045.042a2.735,2.735,0,0,0,3.44.408,6.49,6.49,0,0,1,6.9,0,2.723,2.723,0,0,0,1.47.435,2.77,2.77,0,0,0,1.97-.837c.019-.019.03-.026.049-.046v8.7Zm49.84,2.07a2.319,2.319,0,0,1-2.312,2.313h-37V56.642c.223-.058.383-.1.642-.172a2.849,2.849,0,0,0,1.99-2.035c.935-3.567.88-3.492,3.473-6.117a2.952,2.952,0,0,0,.733-2.81c-.944-3.516-.947-3.518,0-7.047a2.955,2.955,0,0,0-.733-2.811c-2.6-2.623-2.541-2.571-3.473-6.112A2.85,2.85,0,0,0,30.716,27.5c-3.5-.95-3.453-.9-6.03-3.544a2.76,2.76,0,0,0-1.552-.746V6.951a2.33,2.33,0,0,1,2.313-2.326H50.888V19.666a3.452,3.452,0,0,0,3.469,3.459H69.385V67.064Z"
						transform="translate(-0.008)" fill="#ee4e1b" /></svg>
				<p>HACCP
					Control</p>
			</button>
			<button class="content-home-functionality-itens-body-btns col-md-4 col-lg-3" data-target="#modal-plans" data-toggle="modal">
				<svg xmlns="http://www.w3.org/2000/svg" width="74" height="57.556" viewBox="0 0 74 57.556">
					<path
						d="M65.778,32H8.222A8.23,8.23,0,0,0,0,40.222V81.333a8.23,8.23,0,0,0,8.222,8.222H65.778A8.23,8.23,0,0,0,74,81.333V40.222A8.23,8.23,0,0,0,65.778,32Zm4.111,49.333a4.123,4.123,0,0,1-4.111,4.111H8.222a4.123,4.123,0,0,1-4.111-4.111V40.222a4.123,4.123,0,0,1,4.111-4.111H65.778a4.123,4.123,0,0,1,4.111,4.111Zm-9.25-16.444H46.25a1.031,1.031,0,0,0-1.028,1.028v2.056A1.031,1.031,0,0,0,46.25,69H60.639a1.031,1.031,0,0,0,1.028-1.028V65.917A1.031,1.031,0,0,0,60.639,64.889Zm0-8.222H46.25a1.031,1.031,0,0,0-1.028,1.028V59.75a1.031,1.031,0,0,0,1.028,1.028H60.639a1.031,1.031,0,0,0,1.028-1.028V57.694A1.031,1.031,0,0,0,60.639,56.667Zm0-8.222H46.25a1.031,1.031,0,0,0-1.028,1.028v2.056a1.031,1.031,0,0,0,1.028,1.028H60.639a1.031,1.031,0,0,0,1.028-1.028V49.472A1.031,1.031,0,0,0,60.639,48.444ZM26.722,64.889A10.278,10.278,0,1,0,16.444,54.611,10.275,10.275,0,0,0,26.722,64.889Zm0-16.444a6.167,6.167,0,1,1-6.167,6.167A6.168,6.168,0,0,1,26.722,48.444Zm6.012,18.5c-2.505,0-3.135.9-6.012.9s-3.507-.9-6.013-.9a8.209,8.209,0,0,0-6.912,3.52,8.6,8.6,0,0,0-1.465,4.818V78.25a1.031,1.031,0,0,0,1.028,1.028h2.056a1.031,1.031,0,0,0,1.028-1.028V75.282a4.508,4.508,0,0,1,.771-2.518,4.158,4.158,0,0,1,3.507-1.7c1.593,0,2.672.9,6.012.9s4.407-.9,6.012-.9a4.191,4.191,0,0,1,3.507,1.7,4.508,4.508,0,0,1,.771,2.518V78.25a1.031,1.031,0,0,0,1.028,1.028h2.056a1.031,1.031,0,0,0,1.028-1.028V75.282a8.6,8.6,0,0,0-1.465-4.818,8.321,8.321,0,0,0-6.937-3.52Z"
						transform="translate(0 -32)" fill="#ee4e1b" /></svg>
				<p>Plano
					Horários</p>
			</button>
			<button class="content-home-functionality-itens-body-btns col-md-4 col-lg-3" data-target="#modal-documents" data-toggle="modal">
				<svg xmlns="http://www.w3.org/2000/svg" width="55.5" height="74" viewBox="0 0 55.5 74">
					<path
						d="M53.462,14.161,41.339,2.038A6.937,6.937,0,0,0,36.441,0H6.936A6.96,6.96,0,0,0,0,6.951V67.064A6.939,6.939,0,0,0,6.936,74H48.564A6.939,6.939,0,0,0,55.5,67.064V19.074a6.97,6.97,0,0,0-2.038-4.913ZM37,4.71a2.274,2.274,0,0,1,1.07.607L50.2,17.441a2.274,2.274,0,0,1,.607,1.07H37ZM50.876,67.064a2.319,2.319,0,0,1-2.313,2.313H6.936a2.319,2.319,0,0,1-2.313-2.312V6.951A2.33,2.33,0,0,1,6.936,4.625H32.379V19.666a3.452,3.452,0,0,0,3.469,3.459H50.876ZM24.846,31.318,15,41.689a4.109,4.109,0,0,0-.786,4.456,3.894,3.894,0,0,0,3.613,2.417h7.61v12.72a1.156,1.156,0,0,0,1.156,1.156h2.312a1.156,1.156,0,0,0,1.156-1.156V48.56h7.611a3.894,3.894,0,0,0,3.613-2.417A4.1,4.1,0,0,0,40.5,41.69L30.655,31.316A4.08,4.08,0,0,0,24.846,31.318Zm-5.6,12.616,8.5-8.961,8.5,8.961Z"
						fill="#ee4e1b" /></svg>
				<p>Documentos
					Cloud</p>
			</button>
			<button class="content-home-functionality-itens-body-btns col-md-4 col-lg-3" data-target="#modal-impression" data-toggle="modal">
				<svg xmlns="http://www.w3.org/2000/svg" width="74" height="59.2" viewBox="0 0 74 59.2">
					<path
						d="M72.374,33.973l-23.6,23.6a5.55,5.55,0,0,1-7.849,0l-.042-.042L68.45,30.049,38.318,0h5.633a5.55,5.55,0,0,1,3.924,1.626l24.5,24.5A5.55,5.55,0,0,1,72.374,33.973Zm-14.8,0-23.6,23.6a5.55,5.55,0,0,1-7.849,0l-24.5-24.5A5.55,5.55,0,0,1,0,29.151V5.55A5.55,5.55,0,0,1,5.55,0h23.6a5.55,5.55,0,0,1,3.924,1.626l24.5,24.5A5.55,5.55,0,0,1,57.574,33.973ZM53.65,30.049l-24.5-24.5H5.55v23.6l24.5,24.5ZM16.65,11.1a5.55,5.55,0,1,0,5.55,5.55A5.55,5.55,0,0,0,16.65,11.1Z"
						fill="#ee4e1b" /></svg>
				<p>Impressão
					Etiquetas</p>
			</button>
		</div>
	</div>
</section>