mainClass = "hotelaria"
metaDescription = ""
canonical = 'hotelaria.html'
title = "Hotelaria"
layout = 'layout'
url = '/hotelaria'
==
<section class="content-banner" data-aos="fade-down" data-aos-delay="200">
	<div class="content-banner-bg" style="background: url({{ 'assets/img/hotelaria/bg-hotelaria.jpg'|theme }}) center no-repeat;">
	</div>
	<div class="content-banner-writer content-banner-writer-rest">
		<h1>{{ 'Hotelaria'|contenttext('HOTELARIA', true) }}</h1>
		{{ '<p>Bem-vindo ao controlo total da sua operação de comidas e bebidas como sempre desejou: all inclusive.</p>'|contenttext('HOTELARIA', false) }}
	</div>
</section>

<section class="content-restoration">
	<div class="content-restoration-itens container">
		<div class="content-restoration-itens-header">
			<h2>{{ 'O controlo do custo é mais do que comprar barato e reduzir o tamanho das porções'|contenttext('HOTELARIA', true) }}</h2>
		</div>
		<div class="content-restoration-itens-body">
			<div class="content-restoration-itens-body-elements" data-aos="fade-right" data-aos-delay="200" data-aos-duration="500">
				<div class="content-restoration-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="69.758" height="55.812" viewBox="0 0 69.758 55.812">
						<path
							d="M57.55,38.322H38.367V26.115a1.749,1.749,0,0,0-1.744-1.744H12.208a1.749,1.749,0,0,0-1.744,1.744v27.9a1.749,1.749,0,0,0,1.744,1.744H57.55a1.749,1.749,0,0,0,1.744-1.744V40.066A1.749,1.749,0,0,0,57.55,38.322ZM34.879,52.274H13.952V41.81H34.879Zm0-13.952H13.952V27.859H34.879ZM55.806,52.274H38.367V41.81H55.806ZM66.553,12.85,36.906.359a5.232,5.232,0,0,0-4.055,0L3.2,12.85A5.214,5.214,0,0,0,0,17.667V54.89a.875.875,0,0,0,.872.872H2.616a.875.875,0,0,0,.872-.872V17.667a1.746,1.746,0,0,1,1.068-1.613L34.2,3.563a1.713,1.713,0,0,1,1.352,0L65.2,16.054a1.735,1.735,0,0,1,1.068,1.613V54.89a.875.875,0,0,0,.872.872h1.744a.875.875,0,0,0,.872-.872V17.667a5.214,5.214,0,0,0-3.2-4.818Z"
							transform="translate(0 0.05)" /></svg>
				</div>
				<p>{{ 'Gestão de stock por armazém'|contenttext('HOTELARIA', true) }}</p>
			</div>
			<div class="content-restoration-itens-body-elements" data-aos="fade-right" data-aos-delay="300" data-aos-duration="500">
				<div class="content-restoration-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="68.901" height="55.121" viewBox="0 0 68.901 55.121">
						<path
							d="M67.179,24.115h-15.5V1.723A1.728,1.728,0,0,0,49.953,0H18.948a1.728,1.728,0,0,0-1.723,1.723V24.115H1.723A1.728,1.728,0,0,0,0,25.838V53.4a1.728,1.728,0,0,0,1.723,1.723H67.179A1.728,1.728,0,0,0,68.9,53.4V25.838A1.728,1.728,0,0,0,67.179,24.115ZM48.231,27.561h6.89v6.707l-3.445-1.152-3.445,1.152ZM37.9,3.445v6.707L34.451,9l-3.445,1.152V3.445Zm-17.225,0h6.89V14.932l6.89-2.293,6.89,2.293V3.445h6.89v20.67H20.67Zm0,24.115v6.707l-3.445-1.152L13.78,34.268V27.561Zm-17.225,0h6.89V39.048l6.89-2.293,6.89,2.293V27.561h8.613V51.676H3.445ZM65.456,51.676H36.173V27.561h8.613V39.048l6.89-2.293,6.89,2.293V27.561h6.89Z" />
					</svg>
				</div>
				<p>{{ 'Inventários totais, reduzidos e dinâmicos'|contenttext('HOTELARIA', true) }}</p>
			</div>
			<div class="content-restoration-itens-body-elements" data-aos="fade-right" data-aos-delay="400" data-aos-duration="500">
				<div class="content-restoration-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="71.625" height="53.719" viewBox="0 0 71.625 53.719">
						<path
							d="M69.946,113.242a1.684,1.684,0,0,1,1.679,1.679v1.119a1.684,1.684,0,0,1-1.679,1.679H1.679A1.684,1.684,0,0,1,0,116.04V65.679A1.684,1.684,0,0,1,1.679,64H2.8a1.684,1.684,0,0,1,1.679,1.679v47.563ZM52.04,77.709,40.289,85.264l-12.1-11.821a1.68,1.68,0,0,0-2.5.14L8.953,95.336v13.43h58.2L54.516,78.451A1.69,1.69,0,0,0,52.04,77.709ZM13.43,96.9,27.237,78.535,39.729,91.027l12-8,8.631,21.264H13.43Z"
							transform="translate(0 -64)" /></svg>
				</div>
				<p>{{ 'Reporting de vendas em tempo real'|contenttext('HOTELARIA', true) }}</p>
			</div>
			<div class="content-restoration-itens-body-elements" data-aos="fade-right" data-aos-delay="500" data-aos-duration="500">
				<div class="content-restoration-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="47.425" height="63.246" viewBox="0 0 47.425 63.246">
						<path
							d="M45.684,12,35.322,1.641A5.928,5.928,0,0,0,31.135-.1H5.928A5.948,5.948,0,0,0,0,5.84V57.218a5.93,5.93,0,0,0,5.928,5.928H41.5a5.93,5.93,0,0,0,5.928-5.928V16.2A5.957,5.957,0,0,0,45.684,12Zm-2.791,2.8a1.943,1.943,0,0,1,.519.914H31.617V3.926a1.943,1.943,0,0,1,.914.519ZM41.5,59.194H5.928a1.982,1.982,0,0,1-1.976-1.976V5.84A1.982,1.982,0,0,1,5.928,3.864H27.665V16.709a2.957,2.957,0,0,0,2.964,2.964H43.473V57.218A1.982,1.982,0,0,1,41.5,59.194ZM27.072,30.442,30.727,34.1a.552.552,0,0,1,0,.79L16.846,48.77l-3.717.531a1.118,1.118,0,0,1-1.26-1.26l.531-3.717L26.281,30.442a.552.552,0,0,1,.79,0Zm7.954.148L33,32.616a.552.552,0,0,1-.79,0L28.554,28.96a.552.552,0,0,1,0-.79l2.025-2.025a1.841,1.841,0,0,1,2.618,0l1.828,1.828A1.841,1.841,0,0,1,35.025,30.59Z"
							transform="translate(0 0.1)" /></svg>
				</div>
				<p>{{ 'Edição de documentos'|contenttext('HOTELARIA', true) }}</p>
			</div>
		</div>
	</div>
</section>

<section class="content-home-information" data-aos="fade-down" data-aos-delay="200" data-aos-duration="500">
	<div class="content-home-information-itens container">
		<div class="content-home-information-itens-header">
			<h2>{{ 'Simples, fácil e rápido'|contenttext('HOTELARIA', true) }}</h2>
			{{ '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor augue vel dictum pharetra.
				Proin
				gravida ante dui, ut mollis orci tincidunt vel.</p>'|contenttext('HOTELARIA', false) }}
		</div>
		<div class="content-home-information-itens-image">
			<!-- <img class="img-fluid" src="{{ 'img/hotelaria/image-destaque.png'|contentimage('HOTELARIA', 'Imagem Destaque') }}" alt="image destaque" /> -->
			<iframe class="iframe-video"  width="560" height="315" src="{{ 'https://www.youtube.com/embed/ct-1XGcyffM'|contenttext('HOTELARIA', true, 'Video') }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</section>

<section class="content-restoration-description">
	<div class="content-restoration-description-itens container">
		<div class="content-restoration-description-itens-elements">
			<div class="content-restoration-description-itens-text">
				<h2>{{ 'Gestão e reporting de F B'|contenttext('HOTELARIA', true) }}</h2>
				{{'<p>O ZS bms PRO é um eficaz instrumento de gestão, através do qual pode ser feito total controlo de custos e avaliação de desempenho relacionando indicadores de gestão previamente estabelecidos ao alcance de um click.</p>'|contenttext('HOTELARIA', false) }}
			</div>
			<div class="content-restoration-description-itens-image">
				<img class="img-fluid" src="{{ 'img/hotelaria/screen_hotel_01.png'|contentimage('HOTELARIA', 'Imagem Hotel 01') }}"
					alt="imagem de descricao restauracao" />
			</div>
		</div>
		<div class="content-restoration-description-itens-elements">
			<div class="content-restoration-description-itens-image">
				<img class="img-fluid" src="{{ 'img/hotelaria/screen_hotel_02.png'|contentimage('HOTELARIA', 'Imagem Hotel 02' ) }}"
					alt="imagem de descricao restauracao" />
			</div>
			<div class="content-restoration-description-itens-text">
				<h2>{{ 'Gestão do plano de horário com definição de horas de trabalho'|contenttext('HOTELARIA', true) }}</h2>
				{{ '<p>O departamento de F B é a mais complexa das estruturas organizacional e funcional do hotel, isso devido às
					despesas de mão-de-obra que são aproximadamente 2.5 vezes maiores do que o sector de hospedagem, e a receita é
					4 vezes menor, comparativamente com o mesmo sector.</p>'|contenttext('HOTELARIA', false) }}
			</div>
		</div>
	</div>
</section>