mainClass = "restorarion"
metaDescription = ""
canonical = "restauracao.html"
title = "Restauração"
layout = "layout"
url = "/restauracao"
==
<section class="content-banner" data-aos="fade-down" data-aos-delay="200">
	<div class="content-banner-bg"
		style="background: url({{ 'assets/img/restoration/bg-restauracao.jpg'|theme }}) center no-repeat;">
	</div>
	<div class="content-banner-writer content-banner-writer-rest">
		<h1>{{ 'Restauração'|contenttext('RESTAURACAO', true) }}</h1>
		{{ '<p>Os segredos no restaurante devem estar apenas nas receitas dos pratos. Não nos números do seu negócio.</p>'|contenttext('RESTAURACAO', false, 'Descrição') }}
	</div>
</section>

<section class="content-restoration">
	<div class="content-restoration-itens container">
		<div class="content-restoration-itens-header">
			<h2>{{ 'Total controlo e transparência na gestão do seu restaurante.'|contenttext('RESTAURACAO', true) }}</h2>
		</div>
		<div class="content-restoration-itens-body">
			<div class="content-restoration-itens-body-elements" data-aos="fade-right" data-aos-delay="200" data-aos-duration="500">
				<div class="content-restoration-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="79.721" height="59.791" viewBox="0 0 79.721 59.791">
						<path
							d="M66.019,108.843H68.51a1.249,1.249,0,0,0,1.246-1.246V70.228a1.249,1.249,0,0,0-1.246-1.246H66.019a1.249,1.249,0,0,0-1.246,1.246V107.6A1.249,1.249,0,0,0,66.019,108.843Zm-14.948,0h2.491a1.249,1.249,0,0,0,1.246-1.246V85.176a1.249,1.249,0,0,0-1.246-1.246H51.071a1.249,1.249,0,0,0-1.246,1.246V107.6A1.249,1.249,0,0,0,51.071,108.843Zm-29.9,0h2.491a1.249,1.249,0,0,0,1.246-1.246V95.141A1.249,1.249,0,0,0,23.667,93.9H21.176a1.249,1.249,0,0,0-1.246,1.246V107.6A1.249,1.249,0,0,0,21.176,108.843Zm14.948,0h2.491A1.249,1.249,0,0,0,39.86,107.6V75.211a1.249,1.249,0,0,0-1.246-1.246H36.123a1.249,1.249,0,0,0-1.246,1.246V107.6A1.249,1.249,0,0,0,36.123,108.843Zm42.352,9.965H4.983V65.246A1.245,1.245,0,0,0,3.737,64H1.246A1.245,1.245,0,0,0,0,65.246V121.3a2.491,2.491,0,0,0,2.491,2.491H78.475a1.245,1.245,0,0,0,1.246-1.246v-2.491A1.245,1.245,0,0,0,78.475,118.808Z"
							transform="translate(0 -64)" /></svg>
				</div>
				<p>{{ 'Controlo do Food Cost'|contenttext('RESTAURACAO', true) }}</p>
			</div>
			<div class="content-restoration-itens-body-elements" data-aos="fade-right" data-aos-delay="300" data-aos-duration="500">
				<div class="content-restoration-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="72.411" height="68.151" viewBox="0 0 72.411 68.151">
						<path
							d="M70.251,38.335H38.666L59.7,59.37a2.2,2.2,0,0,0,1.547.64,2.038,2.038,0,0,0,1.407-.55,31.879,31.879,0,0,0,9.734-18.75,2.134,2.134,0,0,0-2.138-2.376ZM61.212,54.856,48.95,42.595H67.7a27.8,27.8,0,0,1-6.49,12.262Zm-31.4-16.521V6.75a2.149,2.149,0,0,0-2.1-2.158,2.021,2.021,0,0,0-.281.02A31.923,31.923,0,0,0,.017,37.319,32.351,32.351,0,0,0,31.961,68.151l.387,0a31.7,31.7,0,0,0,18-5.861,2.115,2.115,0,0,0,.209-3.205Zm2.48,25.554-.334,0c-14.514,0-27.194-12.235-27.686-26.717A27.61,27.61,0,0,1,25.555,9.295V40.1L26.8,41.346l18.88,18.88A27.39,27.39,0,0,1,32.294,63.889ZM68.144,29.71A32.022,32.022,0,0,0,38.44.005C38.393,0,38.347,0,38.3,0a2.149,2.149,0,0,0-2.1,2.16V31.946H65.989A2.141,2.141,0,0,0,68.144,29.71ZM40.463,27.686V4.512A27.875,27.875,0,0,1,63.637,27.686Z"
							transform="translate(0.002)" /></svg>
				</div>
				<p>{{ 'Análise do Stock'|contenttext('RESTAURACAO', true) }}</p>
			</div>
			<div class="content-restoration-itens-body-elements" data-aos="fade-right" data-aos-delay="400" data-aos-duration="500">
				<div class="content-restoration-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="63.411" height="72.47" viewBox="0 0 63.411 72.47">
						<path
							d="M56.617,9.059H49.823V1.132A1.136,1.136,0,0,0,48.691,0H46.426a1.136,1.136,0,0,0-1.132,1.132V9.059H18.117V1.132A1.136,1.136,0,0,0,16.985,0H14.72a1.136,1.136,0,0,0-1.132,1.132V9.059H6.794A6.8,6.8,0,0,0,0,15.853V65.676A6.8,6.8,0,0,0,6.794,72.47H56.617a6.8,6.8,0,0,0,6.794-6.794V15.853A6.8,6.8,0,0,0,56.617,9.059Zm2.265,56.617a2.271,2.271,0,0,1-2.265,2.265H6.794a2.271,2.271,0,0,1-2.265-2.265v-38.5H58.882Zm0-43.029H4.529V15.853a2.271,2.271,0,0,1,2.265-2.265H56.617a2.271,2.271,0,0,1,2.265,2.265ZM15.853,54.352H29.441a2.271,2.271,0,0,0,2.265-2.265V38.5a2.271,2.271,0,0,0-2.265-2.265H15.853A2.271,2.271,0,0,0,13.588,38.5V52.088A2.271,2.271,0,0,0,15.853,54.352Zm2.265-13.588h9.059v9.059H18.117Z" />
					</svg>
				</div>
				<p>{{ 'Performance diária'|contenttext('RESTAURACAO', true) }}</p>
			</div>
			<div class="content-restoration-itens-body-elements" data-aos="fade-right" data-aos-delay="500" data-aos-duration="500">
				<div class="content-restoration-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="71.796" height="57.44" viewBox="0 0 71.796 57.44">
						<path
							d="M71.332,19.756,61.078,1.806A3.605,3.605,0,0,0,57.959,0H13.87a3.605,3.605,0,0,0-3.119,1.806L.5,19.756A3.585,3.585,0,0,0,3.6,25.13h3.59V53.682a3.675,3.675,0,0,0,3.59,3.758H39.5a3.675,3.675,0,0,0,3.59-3.758V25.13h17.95V56.543a.9.9,0,0,0,.9.9h1.8a.9.9,0,0,0,.9-.9V25.13h3.59A3.585,3.585,0,0,0,71.332,19.756ZM39.5,53.682c0,.1-.034.157-.022.168l-28.63.022a.25.25,0,0,1-.067-.191V39.49H39.5Zm0-17.782H10.785V25.13H39.5ZM3.616,21.54,13.87,3.59h44.09L68.225,21.54Z"
							transform="translate(-0.016)" /></svg>
				</div>
				<p>{{ 'Mix teórico das lojas'|contenttext('RESTAURACAO', true) }}</p>
			</div>
		</div>
	</div>
</section>

<section class="content-home-information" data-aos="fade-down" data-aos-delay="200" data-aos-duration="500">
	<div class="content-home-information-itens container">
		<div class="content-home-information-itens-header">
			<h2>{{ 'Simples, fácil e rápido'|contenttext('RESTAURACAO', true) }}</h2>
			{{'<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor augue vel dictum pharetra. Proin gravida ante dui, ut mollis orci tincidunt vel.</p>'|contenttext('RESTAURACAO', false) }}
		</div>
		<div class="content-home-information-itens-image">
			<!-- <img class="img-fluid" src="{{ 'img/home/image-destaque.png'|contentimage('RESTAURACAO', 'Imagem Destaque') }}" alt="image destaque" /> -->
			<iframe class="iframe-video" width="560" height="315" src="{{ 'https://www.youtube.com/embed/qsL_tyDYodI'|contenttext('RESTAURACAO', true, 'Vídeo') }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</section>

<section class="content-restoration-description">
	<div class="content-restoration-description-itens container">
		<div class="content-restoration-description-itens-elements">
			<div class="content-restoration-description-itens-text">
				<h2>{{ 'A importância de conhecer o Food Cost'|contenttext('RESTAURACAO', true) }}</h2>
				{{ '<p>Com apenas um click, tem-se o conhecimento de um dos indicadores mais importantes de rentabilidade de um
					restaurante. Ao monitorizar o food cost, poderá saber exatamente quando deve alterar preços, produtos e a
					quantidade certa de compras a fazer.</p>'|contenttext('RESTAURACAO', false) }}
			</div>
			<div class="content-restoration-description-itens-image">
				<img class="img-fluid" src="{{ 'img/restoration/screen_rest_01.png'|contentimage('RESTAURACAO', 'Imagem Restauracao 1') }}"
					alt="imagem de descricao restauracao" />
			</div>
		</div>
		<div class="content-restoration-description-itens-elements">
			<div class="content-restoration-description-itens-image">
				<img class="img-fluid" src="{{ 'img/restoration/screen_rest_02.png'|contentimage('RESTAURACAO', 'Imagem Restauracao 2') }}"
					alt="imagem de descricao restauracao" />
			</div>
			<div class="content-restoration-description-itens-text">
				<h2>{{ 'Análise de F&B Teórico, Standard e Real'|contenttext('RESTAURACAO', true) }}</h2>
				{{ '<p>Num único ecrã, tem uma visão entre o custo teórico, standard e real para que possa determinar a valorização
					e atribuir os valores corretos e assim garantir o lucro de acordo com a sua taxa de remuneração desejada.</p>'|contenttext('RESTAURACAO', false) }}
			</div>
		</div>
	</div>
</section>