mainClass = "flap"
metaDescription = ""
canonical = "retalho.html"
title = "Retalho"
layout = "layout"
url = "/retalho"
==
<section class="content-banner" data-aos="fade-down" data-aos-delay="200">
	<div class="content-banner-bg" style="background: url({{ 'assets/img/retalho/bg-retalho.jpg'|theme }}) center no-repeat;">
	</div>
	<div class="content-banner-writer content-banner-writer-rest">
		<h1>{{ 'Retalho'|contenttext('RETALHO', true) }}</h1>
		{{ '<p>Só ticket deve ser médio. O conhecimento sobre os número do seu negócio precisa ser amplo, total e irrestrito.</p>'|contenttext('RETALHO', false) }}
	</div>
</section>

<section class="content-restoration">
	<div class="content-restoration-itens container">
		<div class="content-restoration-itens-header">
			<h2>{{ 'Conheça e analise os dados do seu negócio para ajustar as suas ofertas'|contenttext('RETALHO', true) }}</h2>
		</div>
		<div class="content-restoration-itens-body">
			<div class="content-restoration-itens-body-elements" data-aos="fade-right" data-aos-delay="200" data-aos-duration="500">
				<div class="content-restoration-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="86.881" height="86.881" viewBox="0 0 86.881 86.881">
						<path
							d="M52.917,37.986h19A4.077,4.077,0,0,0,74.8,31.029L67.22,23.445,86.461,4.221a1.362,1.362,0,0,0,0-1.917L84.527.369a1.362,1.362,0,0,0-1.917,0L63.369,19.61,55.8,12.043a3.988,3.988,0,0,0-2.85-1.2,4.081,4.081,0,0,0-4.106,4.089v19A4.059,4.059,0,0,0,52.917,37.986Zm1.357-19.8L68.646,32.556H54.274ZM67.22,63.369,74.8,55.785a3.988,3.988,0,0,0,1.2-2.85,4.081,4.081,0,0,0-4.089-4.106h-19A4.062,4.062,0,0,0,48.845,52.9v19A4.077,4.077,0,0,0,55.8,74.788L63.386,67.2,82.61,86.461a1.362,1.362,0,0,0,1.917,0l1.917-1.917a1.362,1.362,0,0,0,0-1.917L67.22,63.369ZM54.274,68.646V54.274H68.646Zm-20.361-19.8h-19A4.077,4.077,0,0,0,12.026,55.8l7.584,7.584L.369,82.61a1.362,1.362,0,0,0,0,1.917l1.917,1.917a1.362,1.362,0,0,0,1.917,0L23.445,67.2l7.584,7.584a3.988,3.988,0,0,0,2.85,1.2A4.081,4.081,0,0,0,37.986,71.9V52.917A4.062,4.062,0,0,0,33.914,48.845Zm-1.357,19.8L18.185,54.274H32.556Zm-1.527-56.6-7.584,7.584L4.221.369A1.362,1.362,0,0,0,2.3.369L.369,2.3a1.362,1.362,0,0,0,0,1.917L19.61,23.462l-7.567,7.567a3.988,3.988,0,0,0-1.2,2.85,4.081,4.081,0,0,0,4.089,4.106h19A4.062,4.062,0,0,0,38,33.914v-19a4.089,4.089,0,0,0-6.974-2.867Zm1.527,20.513H18.185L32.556,18.185Z"
							transform="translate(0.025 0.025)" /></svg>
				</div>
				<p>{{ 'Análise das margens inversas e proporcionais'|contenttext('RETALHO', true) }}</p>
			</div>
			<div class="content-restoration-itens-body-elements" data-aos="fade-right" data-aos-delay="300" data-aos-duration="500">
				<div class="content-restoration-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="77.814" height="68.088" viewBox="0 0 77.814 68.088">
						<path
							d="M9.388,88.081l2.66-3.062a3.027,3.027,0,0,0,.771-2.157v-.5a1.541,1.541,0,0,0-1.723-1.725H2.432A1.216,1.216,0,0,0,1.216,81.85v2.432A1.216,1.216,0,0,0,2.432,85.5H5.9a23.53,23.53,0,0,0-1.672,1.871l-.853,1.064a2.02,2.02,0,0,0-.426,2.261l.16.293a1.851,1.851,0,0,0,1.862,1.2h.719c1.57,0,2.423.371,2.423,1.382,0,.717-.638,1.249-2.182,1.249a6.313,6.313,0,0,1-2.351-.474c-.986-.59-1.784-.532-2.371.474L.362,96.23a1.635,1.635,0,0,0,.4,2.423,10.917,10.917,0,0,0,5.623,1.435c5.192,0,7.371-3.458,7.371-6.705A5.5,5.5,0,0,0,9.388,88.081ZM1.839,75.771h10.32a1.216,1.216,0,0,0,1.216-1.216V72.123a1.216,1.216,0,0,0-1.216-1.216H6.281c.5-1.564,7.345-2.839,7.345-8.578,0-4.417-3.8-6.012-6.759-6.012A7.364,7.364,0,0,0,.72,59.167,1.5,1.5,0,0,0,1.144,61.5l1.3,1.046c.853.693,1.672.375,2.451-.371a2.037,2.037,0,0,1,1.436-.584,1.3,1.3,0,0,1,1.41,1.33C7.751,64.857,0,66.243,0,73.429v.608A1.664,1.664,0,0,0,1.839,75.771Zm.593-24.317h9.727a1.216,1.216,0,0,0,1.216-1.216V47.806a1.216,1.216,0,0,0-1.216-1.216H9.727V33.216A1.216,1.216,0,0,0,8.511,32H4.863a1.216,1.216,0,0,0-1.085.672L2.562,35.1a1.216,1.216,0,0,0,1.085,1.76H4.863V46.59H2.432a1.216,1.216,0,0,0-1.216,1.216v2.432A1.216,1.216,0,0,0,2.432,51.454ZM76.6,39.3H25.533a1.216,1.216,0,0,0-1.216,1.216v2.432a1.216,1.216,0,0,0,1.216,1.216H76.6a1.216,1.216,0,0,0,1.216-1.216V40.511A1.216,1.216,0,0,0,76.6,39.3Zm0,48.634H25.533a1.216,1.216,0,0,0-1.216,1.216v2.432a1.216,1.216,0,0,0,1.216,1.216H76.6a1.216,1.216,0,0,0,1.216-1.216V89.145A1.216,1.216,0,0,0,76.6,87.929Zm0-24.317H25.533a1.216,1.216,0,0,0-1.216,1.216V67.26a1.216,1.216,0,0,0,1.216,1.216H76.6a1.216,1.216,0,0,0,1.216-1.216V64.828A1.216,1.216,0,0,0,76.6,63.612Z"
							transform="translate(0 -32)" /></svg>
				</div>
				<p> {{ 'Inventários totais, reduzidos e dinâmicos'|contenttext('RETALHO', true) }}</p>
			</div>
			<div class="content-restoration-itens-body-elements" data-aos="fade-right" data-aos-delay="400" data-aos-duration="500">
				<div class="content-restoration-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="72.596" height="65.571" viewBox="0 0 72.596 65.571">
						<path
							d="M76.305,74.153H49.374a2.927,2.927,0,0,0-2.927,2.927V94.644a2.927,2.927,0,0,0,2.927,2.927H76.305a2.927,2.927,0,0,0,2.927-2.927V77.08A2.927,2.927,0,0,0,76.305,74.153Zm-4.1,16.393H53.472V81.178H72.207ZM84.5,32H50.545a4.1,4.1,0,0,0-4.1,4.1V60.687a4.1,4.1,0,0,0,4.1,4.1H84.5a4.1,4.1,0,0,0,4.1-4.1V36.1A4.1,4.1,0,0,0,84.5,32ZM81.574,57.76h-28.1V39.025h28.1ZM28.988,32.55a1.756,1.756,0,0,0-2.553,0L16.483,43.089a1.756,1.756,0,0,0,1.276,2.962H24.2V95.229a2.342,2.342,0,0,0,2.342,2.342h2.342a2.342,2.342,0,0,0,2.342-2.342V46.051h6.44a1.756,1.756,0,0,0,1.278-2.962Z"
							transform="translate(-16.003 -32)" /></svg>
				</div>
				<p> {{ 'Valorização dos stocks por custo'|contenttext('RETALHO', true) }}</p>
			</div>
			<div class="content-restoration-itens-body-elements" data-aos="fade-right" data-aos-delay="500" data-aos-duration="500">
				<div class="content-restoration-itens-body-elements-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="81.038" height="64.831" viewBox="0 0 81.038 64.831">
						<path
							d="M74.96,0H62.8a6.078,6.078,0,0,0-6.078,6.078V10.13H24.311V6.078A6.078,6.078,0,0,0,18.234,0H6.078A6.078,6.078,0,0,0,0,6.078V18.234a6.078,6.078,0,0,0,6.078,6.078H18.089l11.239,19.02a6.039,6.039,0,0,0-.966,3.266V58.753a6.078,6.078,0,0,0,6.078,6.078H46.6a6.078,6.078,0,0,0,6.078-6.078V46.6A6.078,6.078,0,0,0,46.6,40.519H34.44a6.009,6.009,0,0,0-1.874.325L22,22.968a6.04,6.04,0,0,0,2.31-4.734V14.182H56.727v4.052A6.078,6.078,0,0,0,62.8,24.311H74.96a6.078,6.078,0,0,0,6.078-6.078V6.078A6.078,6.078,0,0,0,74.96,0ZM4.052,18.234V6.078A2.029,2.029,0,0,1,6.078,4.052H18.234A2.029,2.029,0,0,1,20.26,6.078V18.234a2.029,2.029,0,0,1-2.026,2.026H6.078A2.029,2.029,0,0,1,4.052,18.234ZM46.6,44.571A2.029,2.029,0,0,1,48.623,46.6V58.753A2.029,2.029,0,0,1,46.6,60.779H34.441a2.029,2.029,0,0,1-2.026-2.026V46.6a2.029,2.029,0,0,1,2.026-2.026ZM76.986,18.234A2.029,2.029,0,0,1,74.96,20.26H62.8a2.029,2.029,0,0,1-2.026-2.026V6.078A2.029,2.029,0,0,1,62.8,4.052H74.96a2.029,2.029,0,0,1,2.026,2.026Z" />
						</svg>
				</div>
				<p> {{ 'Integração dos valores com a contabilidade'|contenttext('RETALHO', true) }}</p>
			</div>
		</div>
	</div>
</section>

<section class="content-home-information" data-aos="fade-down" data-aos-delay="200" data-aos-duration="500">
	<div class="content-home-information-itens container">
		<div class="content-home-information-itens-header">
			<h2>{{ 'Simples, fácil e rápido'|contenttext('RETALHO', true) }}</h2>
			{{ '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor augue vel dictum pharetra.
				Proin
				gravida ante dui, ut mollis orci tincidunt vel.</p>'|contenttext('RETALHO', false) }}
		</div>
		<div class="content-home-information-itens-image">
			<!-- <img class="img-fluid" src="{{ 'img/retalho/image-destaque.png'|contentimage('RETALHO', 'Imagem Destaque') }}" alt="image destaque" /> -->
			<iframe class="iframe-video" width="560" height="315" src="{{ 'https://www.youtube.com/embed/PzH8wIasSz4'|contenttext('RETALHO', true, 'Video') }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</section>

<section class="content-restoration-description">
	<div class="content-restoration-description-itens container">
		<div class="content-restoration-description-itens-elements">
			<div class="content-restoration-description-itens-text">
				<h2>{{ 'Conheça seu produto mais popular e a rentabilidade'|contenttext('RETALHO', true) }}</h2>
				{{ '<p>Para um mercado onde o produto está cada vez mais personalizado e ‘on-demand´, nem sempre ser o mais popular significa ser o mais rentável. Com  BMS Pro, é fácil conhecer os índices de popularidade e rentabilidade associados a cada artigo. </p>'|contenttext('RETALHO', false) }}
			</div>
			<div class="content-restoration-description-itens-image">
				<img class="img-fluid" src="{{ 'img/retalho/screen_retalho_01.png'|contentimage('RETALHO', 'Imagem Retalho 01') }}"
					alt="imagem de descricao restauracao" />
			</div>
		</div>
		<div class="content-restoration-description-itens-elements">
			<div class="content-restoration-description-itens-image">
				<img class="img-fluid" src="{{ 'img/retalho/screen_retalho_02.png'|contentimage('RETALHO', 'Imagem Retalho 02') }}"
					alt="imagem de descricao restauracao" />
			</div>
			<div class="content-restoration-description-itens-text">
				<h2>{{ 'A conferência contabilística como nunca se viu'|contenttext('RETALHO', true) }}</h2>
				{{ '<p>Com o BMS Pro agora tem o controle contabilístico de todas as fases de gestão da loja, desde a compra, entrega, devoluções, transferências e fechos financeiros no mesmo ecrã, sem complicações.</p>'|contenttext('RETALHO', false) }}
			</div>
		</div>
	</div>
</section>